﻿<div ng-controller="ClientController as clientController">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="clientController.closeConfirmationModal(false)">&times;</span></button>
        <h3 class="modal-title">Change Client Sales Rep</h3>
    </div>
    <div class="modal-body">
        <div>
            <span>Are you sure you want to change the Sales Rep to {{clientController.selectedSalesRep.firstName +" " + clientController.selectedSalesRep.lastName}} ?</span>
        </div>
        <br />
        <div class="modal-footer">
            <button type="button" ng-click="clientController.closeConfirmationModal(false)" class="btn btn-theme-gray md-close">No</button>
            <button type="button" ng-click="clientController.closeConfirmationModal(true)" class="btn btn-theme-yellow">Yes</button>
        </div>
    </div>
</div>

