﻿@using Innostax.CaseManagement.Web.ViewModels.UserManagement
@using Innostax.Common.Database.Models.UserManagement
@model Innostax.CaseManagement.Web.ViewModels.UserManagement.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Innostax - Group</title>
    @Styles.Render("~/Content/static/css")

</head><body class="am-splash-screen">
    <div class="am-wrapper am-login">
        <div class="am-content clearfix">
            <div class="col-sm-6 col-md-4 ">
                <div class="login-block">
                    <div class="login-inner">
                        <div class="login-form">
                            <div class="kreller-logo">
                                <img src="~/Content/img/keller-logo.jpg" class="img-responsive center-block">
                            </div>
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                            {
                                <div class="form-group">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon s7-user"></i></span>
                                            @Html.TextBoxFor(m => m.UserName, new { id = "username", placeholder = "Username", autocomplete = "off", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.UserName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon s7-lock"></i></span>
                                        @Html.PasswordFor(m => m.Password, new { type = "password", placeholder = "Password", @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                                <div class="form-group login-submit">
                                    <button data-dismiss="modal" type="submit" class="btn btn-theme-yellow btn-block btn-lg">Sign in</button>
                                </div>
                            }
                            <div class="form-group footer row">
                                <div class="col-xs-12">@Html.ActionLink("Forgot your password?", "ForgotPassword")</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Content/static/js")
</body></html>


   

