﻿<div ng-controller="CaseDiscussionController as caseDiscussionController">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" ng-click="caseDiscussionController.closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" ng-show="!caseDiscussionController.isDiscussionBeingEdited">Post a Discussion</h4>
        <h4 class="modal-title" id="myModalLabel" ng-show="caseDiscussionController.isDiscussionBeingEdited">Edit Discussion ({{caseDiscussionController.discussion.title}})</h4>
    </div>
    <div class="modal-body">
        <div class="hpanel">

            <div class="panel-body add-dicussion-top">
               
                    <div class="p-xs">
                        <form name="discussionForm" novalidate>
                            <div class="form-group">
                                <label class="control-label text-left">Title:</label>
                                <label class="discussion_markReport" ng-if="caseDiscussionController.hasPermission('VIEW_MARK_AS_REPORT_BUTTON')"><input type="checkbox" ng-model="caseDiscussionController.discussion.isNotes" /> Mark as Report</label>
                                <div>
                                    <input ng-class="{'form_error':discussionForm.discussionTitle.$invalid && caseDiscussionController.showDiscussionValidationMessage}" type="text" name="discussionTitle" ng-model="caseDiscussionController.discussion.title" class="form-control" placeholder="Enter Discussion title" autocomplete="off" required>
                                    <span class="error-msg" ng-show="discussionForm.discussionTitle.$invalid && caseDiscussionController.showDiscussionValidationMessage">Title Required</span>
                                </div>
                            </div>
                        </form>
                     </div>
                <label class="control-label text-left">Description:</label>
                <div class="text-editor">
                        <textarea ui-tinymce="caseDiscussionController.tinyMceOptions"
                                  ng-model="caseDiscussionController.discussion.message" size="50"
                                  autocomplete="off"></textarea>    
                    <div class="row drop-box upload_box" ngf-drop="caseDiscussionController.uploadDiscussionFiles($files)"
                         ngf-drag-over-class="'dragover'" ngf-multiple="true"
                         ngf-pattern="*">
                        <div class="col-xs-12">
                            <div id="my-awesome-dropzone" class="dropzone" ngf-select="caseDiscussionController.uploadDiscussionFiles($files)" multiple="multiple">
                                <div class="dz-message">
                                    <div class="row">
                                        <div class="col-md-2"><div class="icon"><span class="s7-cloud-upload"></span></div></div>
                                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                        <div class="col-md-10"><h2>Select or Drag and Drop files here</h2><span class="note"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group" has-permission="VIEW_ALL_FILES">
                        <button type="button" class="btn btn-theme-yellow btn-sm parent-menu" ng-click="caseDiscussionController.openExistingCaseFilesModal()">Add existing files</button>
                    </div>
                    <div class="report-block" ng-if="caseDiscussionController.showExistingDiscussionFiles">
                        <div class="clearfix">
                            <label>Files</label>
                            <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                            <div class="form-group">
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>File Name</th>
                                            <th width="20"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="file in caseDiscussionController.discussion.discussionFiles">
                                            <td width="200">{{file.fileName}}</td>
                                            <td width="50">
                                                <button class="btn btn-theme-yellow btn-xs" tooltip-placement="bottom" uib-tooltip="Delete" ng-really-message="Are you sure you want to remove this file?" ng-really-click="caseDiscussionController.deleteDiscussionAssociatedFile(file)" ng-really-title="Delete File" item="file">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>  
                <div>
                    <label has-permission="VIEW_ADD_USERS_DISCUSSION">
                    <input type="checkbox" name="whomTosend" ng-model="caseDiscussionController.addUsers">
                        Add Users
                    </label>
                </div>
                <div ng-if="caseDiscussionController.addUsers" has-permission="VIEW_ADD_USERS_DISCUSSION">
                    <div class="well well-sm user-list">
                        <label class="checkbox-inline" ng-repeat="user in caseDiscussionController.users" ng-show="user.role.name!='Client_Participant' && user.role.name!='In_Country_Investigator' && user.role.name!='NFC'"><input type="checkbox" checklist-model="caseDiscussionController.listOfUserIds" checklist-value="user.id">{{user.firstName+" "+user.lastName}}</label>
                    </div>
                 </div>               
                 <div ng-if="caseDiscussionController.numberOfParticipants > 0" has-permission="VIEW_ADD_CLIENT_PARTICIPANT_DISCUSSION">
                    <label class="add-participant">
                         Add Client Participants
                    </label>
                </div>
                <div ng-if="caseDiscussionController.numberOfParticipants > 0" has-permission="VIEW_ADD_CLIENT_PARTICIPANT_DISCUSSION">
                    <div class="well well-sm user-list">
                        <label class="checkbox-inline" ng-repeat="user in caseDiscussionController.users" ng-show="user.role.name=='Client_Participant'"><input type="checkbox" ng-disabled="caseDiscussionController.roleName == 'Sales_Rep' && caseDiscussionController.listOfNFCUserIds.length > 0" ng-click="caseDiscussionController.openConfirmationModal(user.id)" checklist-model="caseDiscussionController.listOfParticipantIds" checklist-value="user.id">{{user.firstName+" "+user.lastName}}</label>
                    </div>
                 </div>
            <div ng-if="caseDiscussionController.numberOfICIUsers > 0" has-permission="VIEW_ADD_ICI_USER_DISCUSSION">
                <label class="add-participant">
                    Add ICI Users
                </label>
            </div>
            <div ng-if="caseDiscussionController.numberOfICIUsers > 0" has-permission="VIEW_ADD_ICI_USER_DISCUSSION">
                <div class="well well-sm user-list">
                    <label class="checkbox-inline" ng-repeat="user in caseDiscussionController.users" ng-show="user.role.name=='In_Country_Investigator'"><input type="checkbox" checklist-model="caseDiscussionController.listOfUserIds" checklist-value="user.id">{{user.firstName+" "+user.lastName}}</label>
                </div>
            </div>
            <div ng-if="caseDiscussionController.numberOfNFCUsers > 0" has-permission="VIEW_ADD_NFC_DISCUSSION">
                <label class="add-participant">
                    Add NFC Users
                </label>
            </div>
            <div ng-if="caseDiscussionController.numberOfNFCUsers > 0" has-permission="VIEW_ADD_NFC_DISCUSSION">
                <div class="well well-sm user-list">
                    <label class="checkbox-inline" ng-repeat="user in caseDiscussionController.users" ng-show="user.role.name=='NFC'"><input type="checkbox" ng-disabled="caseDiscussionController.roleName == 'Sales_Rep' && caseDiscussionController.listOfParticipantIds.length > 0" checklist-model="caseDiscussionController.listOfNFCUserIds" checklist-value="user.id">{{user.firstName+" "+user.lastName}}</label>
                </div>
            </div>
                    </div>

                </div>           
    <div class="modal-footer">
        <button type="button" class="btn btn-theme-gray" ng-click="caseDiscussionController.closeModal()">Discard</button>
        <button type="button" class="btn btn-theme-yellow" ng-click="caseDiscussionController.postDiscussion(discussionForm.$valid, caseDiscussionController.discussionAction['Added'])" ng-show="!caseDiscussionController.isDiscussionBeingEdited">Post</button>
        <button type="button" class="btn btn-theme-yellow" ng-click="caseDiscussionController.postDiscussion(discussionForm.$valid, caseDiscussionController.discussionAction['Edited'])" ng-show="caseDiscussionController.isDiscussionBeingEdited">Save</button>
    </div>
</div>