﻿<div ng-controller="CaseUserController as caseUserController">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="caseUserController.closeModal()">&times;</span></button>
        <h3 ng-if="!caseUserController.isICIUserBeingEdited" class="modal-title">Add ICI User</h3>
        <h3 ng-if="caseUserController.isICIUserBeingEdited" class="modal-title">Edit ICI User</h3>
    </div>
    <form class="modal-body" name="inviteForm" novalidate>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Email</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Email" popover-trigger="outsideClick">?</a>
                <ui-select ng-class="{'form_error':inviteForm.iciUserEmail.$invalid && inviteForm.$submitted}" ng-model="caseUserController.iciCaseUser.user" name="iciUserEmail" reset-search-input="true" on-select="caseUserController.onICIUserSelected($item)" required="true" tagging class="form-control" ng-disabled="caseUserController.isICIUserBeingEdited">
                    <ui-select-match placeholder="Please select or enter user email">
                        <span>{{caseUserController.iciCaseUser.user.email}}</span>
                        <a class="btn btn-xs btn-link pull-right" ng-click="caseUserController.clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                    </ui-select-match>
                    <ui-select-choices repeat="iciUser in (caseUserController.iciUsers | filter: { email: $select.search }) track by iciUser.id" refresh="caseUserController.refresh($select)" refresh-delay="0">
                        <span>{{iciUser.email}}</span>
                    </ui-select-choices>
                </ui-select>
                <span class="error-msg" ng-show="inviteForm.iciUserEmail.$invalid && inviteForm.$submitted">Please Select User email</span>
            </div>
            <div class="form-group col-md-6">
                <label>First Name</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="First Name" popover-trigger="outsideClick">?</a>
                <input name="firstName" ng-class="{'form_error':inviteForm.firstName.$invalid && inviteForm.$submitted}" ng-model="caseUserController.iciCaseUser.user.firstName" placeholder="Please enter first name" class="form-control" required ng-disabled="caseUserController.iciCaseUser.user.id != -1 && !caseUserController.isICIUserBeingEdited">
                <span class="error-msg" ng-show="inviteForm.firstName.$invalid && inviteForm.$submitted">Please Enter First name</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Last Name</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Last Name" popover-trigger="outsideClick">?</a>
                <input name="lastName" ng-class="{'form_error':inviteForm.lastName.$invalid && inviteForm.$submitted}" ng-model="caseUserController.iciCaseUser.user.lastName" placeholder="Please enter last name" class="form-control" required ng-disabled="caseUserController.iciCaseUser.user.id != -1 && !caseUserController.isICIUserBeingEdited">
                <span class="error-msg" ng-show="inviteForm.lastName.$invalid && inviteForm.$submitted">Please Enter Last name</span>
            </div>
            <div class="form-group col-md-6">
                <label>Company Name</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Company Name" popover-trigger="outsideClick">?</a>
                <input name="companyName" ng-model="caseUserController.iciCaseUser.user.userDetails.companyName" placeholder="Please enter company name" class="form-control" ng-disabled="caseUserController.iciCaseUser.user.id != -1 && !caseUserController.isICIUserBeingEdited">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Country</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Country" popover-trigger="outsideClick">?</a>
                <ui-select ng-model="caseUserController.iciCaseUser.user.userDetails.country" name="iciUserCountry" reset-search-input="true" tagging on-select="caseUserController.onCountrySelected($item)" class="form-control" ng-disabled="caseUserController.iciCaseUser.user.id != -1 && !caseUserController.isICIUserBeingEdited">
                    <ui-select-match placeholder="Please select country">
                        <span>{{caseUserController.iciCaseUser.user.userDetails.country.countryName}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="country in (caseUserController.filterCountriesOrStatesList($select.search, caseUserController.countries, null)) track by country.countryId" refresh-delay="0">
                        <span>{{country.countryName}}</span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group col-md-6">
                <label>Status</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Status" popover-trigger="outsideClick">?</a>
                <div class="btn-container">
                    <div class="kl-radio inline">
                        <label>
                            <input name="status" type="radio" ng-value="true" ng-model="caseUserController.iciCaseUser.isActive" />
                            <span class="radio-btn">Active</span>
                        </label>
                    </div>
                    <div class="kl-radio inline">
                        <label>
                            <input name="status" type="radio" ng-value="false" ng-model="caseUserController.iciCaseUser.isActive" />
                            <span class="radio-btn">Inactive</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="caseUserController.closeModal()" class="btn btn-theme-gray md-close">Cancel</button>
            <button ng-if="!caseUserController.isICIUserBeingEdited && !caseUserController.isExistingICIUser" type="submit" ng-click="caseUserController.sendInvitation(inviteForm.$valid)" class="btn btn-theme-yellow">Send</button>
            <button ng-if="caseUserController.isICIUserBeingEdited || caseUserController.isExistingICIUser" type="submit" ng-click="caseUserController.isICIUserBeingEdited ? caseUserController.saveICIUser(inviteForm.$valid, caseUserController.iciUserAction['Edited']) : caseUserController.saveICIUser(inviteForm.$valid, caseUserController.iciUserAction['Added'])" class="btn btn-theme-yellow">Save</button>
        </div>
    </form>
</div>