﻿<div ng-controller="ParticipantController as participantController">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="participantController.closeModal()">&times;</span></button>
        <h3 ng-if="!participantController.isParticipantBeingEdited" class="modal-title">Add Participant</h3>
        <h3 ng-if="participantController.isParticipantBeingEdited" class="modal-title">Edit Participant</h3>
    </div>
    <form class="modal-body" name="inviteForm" novalidate>
            <div class="row">
                <div class="form-group col-md-6" id="client_name_field">
                    <label>Email</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Email" popover-trigger="outsideClick">?</a>
                    <ui-select ng-class="{'form_error' : inviteForm.participantEmail.$invalid && inviteForm.$submitted}" ng-model="participantController.participant.user" name="participantEmail" reset-search-input="true" on-select="participantController.onParticipantSelected($item)" required="true" class="form-control" ng-disabled="participantController.isParticipantBeingEdited">
                        <ui-select-match placeholder="Please select or enter participant email">
                            <span>{{participantController.participant.user.email}}</span>
                            <a class="btn btn-xs btn-link pull-right" ng-click="participantController.clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                        </ui-select-match>
                        <ui-select-choices repeat="participant in (participantController.participants | filter: { email: $select.search }) track by participant.id" refresh="participantController.refresh($select)" refresh-delay="0">
                            <span>{{participant.email}}</span>
                        </ui-select-choices>
                    </ui-select>
                    <span class="error-msg" ng-show="inviteForm.participantEmail.$invalid && inviteForm.$submitted">Please Select Participant email</span>
                </div>
                <div class="form-group col-md-6">
                    <label>First Name</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="First Name" popover-trigger="outsideClick">?</a>
                    <input ng-class="{'form_error' : inviteForm.firstName.$invalid && inviteForm.$submitted}" name="firstName" ng-model="participantController.participant.user.firstName" placeholder="Please enter first name" class="form-control" required ng-disabled="participantController.participant.user.id != -1 && !participantController.isParticipantBeingEdited">
                    <span class="error-msg" ng-show="inviteForm.firstName.$invalid && inviteForm.$submitted">Please Select First name</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Last Name</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Last Name" popover-trigger="outsideClick">?</a>
                    <input ng-class="{'form_error' : inviteForm.lastName.$invalid && inviteForm.$submitted}" name="lastName" ng-model="participantController.participant.user.lastName" placeholder="Please enter last name" class="form-control" required ng-disabled="participantController.participant.user.id != -1 && !participantController.isParticipantBeingEdited">
                    <span class="error-msg" ng-show="inviteForm.lastName.$invalid && inviteForm.$submitted">Please Enter Last name</span>
                </div>
                <div class="form-group col-md-6">
                    <label>Status</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Status" popover-trigger="outsideClick">?</a>
                    <div class="btn-container">
                        <div class="kl-radio inline">
                            <label>
                                <input name="status" type="radio" ng-value="true" ng-model="participantController.participant.isActive"/>
                                <span class="radio-btn">Active</span>
                            </label>
                        </div>
                        <div class="kl-radio inline">
                            <label>
                                <input name="status" type="radio" ng-value="false" ng-model="participantController.participant.isActive"/>
                                <span class="radio-btn">Inactive</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" ng-click="participantController.closeModal()" class="btn btn-theme-gray md-close">Cancel</button>
            <button ng-if="!participantController.isParticipantBeingEdited && !participantController.isExistingParticipant" type="submit" ng-click="participantController.sendInvitation(inviteForm.$valid)" class="btn btn-theme-yellow">Send</button>
            <button ng-if="participantController.isParticipantBeingEdited || participantController.isExistingParticipant" type="submit" ng-click="participantController.isParticipantBeingEdited ? participantController.saveParticipant(inviteForm.$valid, participantController.participantAction['Edited']) : participantController.saveParticipant(inviteForm.$valid, participantController.participantAction['Added'])" class="btn btn-theme-yellow">Save</button>
        </div>
    </form>
</div>