﻿<div ng-controller="CaseDiscussionController as caseDiscussionController">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="caseDiscussionController.closeAddFileModal()">&times;</span></button>
        <h3 class="modal-title">Add Files</h3>
    </div>
    <div class="modal-main-content">
        <div class="modal-body">
            <table class="table table-hover table-condensed" ng-if="caseDiscussionController.caseFiles.length > 0">
                <thead>
                    <tr>
                        <th width="50"></th>    
                        <th width="350">File Name</th>
                        <th width="250">Uploaded Date</th>                       
                        <th width="100">Uploaded By</th>                
                    </tr>
                </thead>
                <tbody>
                    <tr has-permission="VIEW_ALL_FILES" ng-repeat="file in caseDiscussionController.caseFiles|orderBy:'-fileUploadedTime'">
                        <td width="50">
                            <input type="checkbox" ng-model="file.isSelected" />
                        </td>   
                        <td>{{file.fileName}}</td>                      
                        <td>{{file.createDateTime|date:'medium'}}</td>                        
                        <td>
                            {{file.userName}}
                        </td>                       
                    </tr>               
               </tbody>
            </table> 
            <h3 ng-if="caseDiscussionController.caseFiles.length == 0">No files to display!</h3>
        </div>
        <div class="modal-footer hide_modal_border">
           <button ng-if="caseDiscussionController.caseFiles.length > 0" type="button" class="btn btn-theme-yellow" ng-click="caseDiscussionController.associateSelectedCaseFiles(caseDiscussionController.caseFiles)">Save</button>
            <button ng-if="caseDiscussionController.caseFiles.length == 0" type="button" class="btn btn-theme-gray" ng-click="caseDiscussionController.closeAddFileModal()">Close</button>
            <button ng-if="caseDiscussionController.caseFiles.length > 0" type="button" class="btn btn-theme-gray" ng-click="caseDiscussionController.closeAddFileModal()">Cancel</button>
        </div>
    </div>
</div>
