﻿<div class="modal-content" ng-controller="CaseController as caseController">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="caseController.closeModal()">&times;</span></button>
        <h4 class="modal-title">Assign Case</h4>
    </div>
        <div class="modal-body">
            <form class="modal-form" name="assignCaseForm">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Case</label>
                        <span class="form-control span-disabled" disabled>{{caseController.case.nickName}} ({{caseController.case.caseNumber}})</span>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Assign To</label>
                        <ui-select ng-class="{'form_error':assignCaseForm.user_name.$invalid && assignCaseForm.$submitted}" ng-model="caseController.case.assignedToUser" name="user_name" ng-required="true">
                            <ui-select-match placeholder="Please select a user ...">
                                <span>{{$select.selected.firstName+" "+$select.selected.lastName}}</span>
                            </ui-select-match>
                            <ui-select-choices group-by="caseController.filterUsersByRole" repeat="user in (caseController.users | filter: { userName: $select.search }) track by user.id" refresh-delay="0">
                                <span>{{user.firstName}} {{user.lastName}}</span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="error-msg" ng-if="assignCaseForm.user_name.$invalid && assignCaseForm.$submitted">Please select a user</span>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="modal-btn text-right">
                        <button type="submit" class="btn btn-theme-yellow" ng-click="caseController.assignCaseToUser(assignCaseForm.$valid)">Assign</button>
                        <button class="btn btn-theme-gray" ng-click="caseController.closeModal();">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        

</div>