﻿<div ng-controller="CaseDetailsController as caseDetailsController">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="caseDetailsController.closeModal()">&times;</span></button>
        <h3 class="modal-title">Add Reason</h3>
    </div>
    <form class="modal-body onhold-textarea" name="cancelReasonForm" novalidate>
        <div class="row">
            <div class="form-group col-md-12">
                <label>Reason for Cancel</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Cancel Reason" popover-trigger="outsideClick">?</a>
                <textarea ng-class="{'form_error' : cancelReasonForm.cancellationReason.$invalid && cancelReasonForm.$submitted}" rows="2" name="cancellationReason" ng-model="caseDetailsController.caseCancellationReason" placeholder="Please enter reason for Cancel" class="form-control" required></textarea>
                <span class="error-msg" ng-show="cancelReasonForm.cancellationReason.$invalid && cancelReasonForm.$submitted">Please enter the reason for cancel</span>
         </div>
         </div>
        <div class="modal-footer no-bottom-padding">
            <button type="button" ng-click="caseDetailsController.closeModal()" class="btn btn-theme-gray md-close">Cancel</button>
            <button type="submit" ng-click="caseDetailsController.toggleCaseFlags(cancelReasonForm.$valid,caseDetailsController.CaseFlag.Case_Cancel,true)" class="btn btn-theme-yellow">Save</button>
        </div>
    </form>
</div>