﻿<div ng-controller="CaseHeaderController as caseHeaderController">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="caseHeaderController.closeModal()">&times;</span></button>
        <h3 class="modal-title">Reports</h3>
    </div>
    <div class="modal-body">
        <table class="table table-responsive table-hover table-condensed">
            <thead>
                <tr>
                    <th>Report Type</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="report in caseHeaderController.case.reports">
                    <td ng-if="report.isOtherReportType">{{report.reportType}} ({{report.otherReportTypeName}})
                    <button class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="{{report.description}}" popover-trigger="outsideClick" data-container="body" data-toggle="popover" data-placement="right" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                    </td>
                    <td ng-if="!report.isOtherReportType">
                        {{report.reportType}}
                        <button class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="{{report.description}}" popover-trigger="outsideClick" data-container="body" data-toggle="popover" data-placement="right" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                    </td>
                    <td>{{report.countryName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer hide_modal_border">
        <button type="button" ng-click="caseHeaderController.closeModal()" class="btn btn-theme-gray md-close">Close</button>
    </div>
</div>