﻿<div ng-controller="CaseHistoryController as caseHistoryController" ng-init="caseHistoryController.init()">
    <div class="am-content">
        <div ng-controller="CaseHeaderController as caseHeaderController" class="no-padding ">
            <div ng-include src="'/webapp/modules/core/views/case-header.view.html'"></div>
            <div ng-include src="'/webapp/modules/core/views/case-header-navigationbar.view.html'"></div>
        </div>
        <div class="main-content" ng-hide="!caseHistoryController.hasPermission('VIEW_HISTORY')">

            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm text-right">

                        <div class="btn-group">
                            <button class="btn btn-theme-gray" ng-class="caseHistoryController.setFilterActiveTabClass(caseHistoryController.historyFiltersEnum.All)" ng-click="caseHistoryController.getHistoryFilterValues(caseHistoryController.historyFiltersEnum.All)">All</button>
                            <button class="btn btn-theme-gray" ng-class="caseHistoryController.setFilterActiveTabClass(caseHistoryController.historyFiltersEnum.Case_Status)" ng-click="caseHistoryController.getHistoryFilterValues(caseHistoryController.historyFiltersEnum.Case_Status)">Case Status</button>
                            <button class="btn btn-theme-gray" ng-class="caseHistoryController.setFilterActiveTabClass(caseHistoryController.historyFiltersEnum.Task)" ng-click="caseHistoryController.getHistoryFilterValues(caseHistoryController.historyFiltersEnum.Task)">Task</button>
                            <button class="btn btn-theme-gray" ng-class="caseHistoryController.setFilterActiveTabClass(caseHistoryController.historyFiltersEnum.File)" ng-click="caseHistoryController.getHistoryFilterValues(caseHistoryController.historyFiltersEnum.File)">File</button>
                            <button class="btn btn-theme-gray" ng-class="caseHistoryController.setFilterActiveTabClass(caseHistoryController.historyFiltersEnum.Expense)" ng-click="caseHistoryController.getHistoryFilterValues(caseHistoryController.historyFiltersEnum.Expense)">Expense</button>
                            <button class="btn btn-theme-gray" ng-class="caseHistoryController.setFilterActiveTabClass(caseHistoryController.historyFiltersEnum.Discussion)" ng-click="caseHistoryController.getHistoryFilterValues(caseHistoryController.historyFiltersEnum.Discussion)">Discussion</button>
                        </div>                   
                    </div>
                    <div class="history-container">
                        <div class="history-block-outer" ng-repeat="(createDate,groupedCaseHistories) in (caseHistoryController.allCaseHistory | groupBy: 'createDate')">
                            
                            <div class="well well-sm">{{createDate| date}}</div>
                            <div class="media">
                                <div class="media-body">
                                    <div class="history-block" ng-repeat="caseHistory in groupedCaseHistories">
                                        
                                        <div class="main-text">
                                            <a href="#" class="pull-left history-image-left">
                                                <img class="media-object img-circle" ng-src="{{caseHistory.user.profilePicUrl}}" alt="...">
                                            </a>
                                            <a class="name"><strong>{{caseHistory.user.firstName+" "+caseHistory.user.lastName}}</strong></a>  {{caseHistory.actionText}}{{caseHistory.newValue ? '-' : ''}}  {{caseHistory.newValue}}
                                        </div>
                                        <div class="post-time">
                                            <span class="fa fa-bookmark text-success bookmark-icon"></span>{{caseHistory.creationDatetime | date:'medium'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>