﻿<div ng-controller="CaseDiscussionController as caseDiscussionController" ng-init="caseDiscussionController.discussionsInit()">
    <div class="am-content">
        <div ng-controller="CaseHeaderController as caseHeaderController" class="no-padding ">
            <div ng-include src="'/webapp/modules/core/views/case-header.view.html'"></div>
            <div ng-include src="'/webapp/modules/core/views/case-header-navigationbar.view.html'"></div>
        </div>

        <div class="main-content" ng-hide="caseDiscussionController.case.isNFCCase && !caseDiscussionController.hasPermission('VIEW_DISCUSSION_REPORT')">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-heading notification-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="serach-container hidden-sm">
                                                <div class="input-group search-box-small">
                                                    <span class="input-group-btn">
                                                        <button class="btn search-btn" ng-click="caseDiscussionController.searchDiscussions(caseDiscussionController.caseDiscussionController.searchQuery)" ng-disabled="caseDiscussionController.searchQuery == undefined || caseDiscussionController.searchQuery == ''"><img src="/Assets/icons/search.svg" class="svg-addon"></button>
                                                    </span>
                                                    <input type="text" placeholder="Search Discussions" autocomplete="off" class="form-control" ng-model="caseDiscussionController.searchQuery" ng-change="(caseDiscussionController.searchQuery == undefined || caseDiscussionController.searchQuery == '') && caseDiscussionController.isDiscussionSearchActive ? caseDiscussionController.resetSearchResult() : null" ng-keyup="$event.keyCode == 13 ? caseDiscussionController.searchDiscussions(caseDiscussionController.searchQuery) : null">
                                                    <span class="input-group-btn" ng-show="caseDiscussionController.searchQuery != undefined && caseDiscussionController.searchQuery != ''">
                                                        <button class="btn search-btn search-reset" ng-click="caseDiscussionController.searchQuery = ''; caseDiscussionController.isDiscussionSearchActive ? caseDiscussionController.resetSearchResult() : null"><i class="fa fa-times"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="btn-group pull-right">
                                            </span>
                                        </div>
                                    </div>


                                </div>
                                <!-- START table-responsive-->
                                <div class="table-responsive discussion-history">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr ng-repeat="discussion in caseDiscussionController.allDiscussions | filter:{isNotes:true}" ng-class="{'participant_discussions': discussion.participantIdList.length > 0}">
                                                <td width="280">
                                                    <img ng-src="{{discussion.user.profilePicUrl}}" class="img-circle"> <strong>{{discussion.user.firstName+" "+discussion.user.lastName}}</strong>
                                                </td>
                                                <td>
                                                    <div class="chat-link">
                                                        <i class="fa fa-lg fa-user-plus participantId_list" ng-show="discussion.participantIdList.length > 0"></i>
                                                        <a href="#">
                                                            <i class="fa fa-lg fa-file-text-o discussion_notes " ng-show="discussion.isNotes"></i>
                                                            <strong ng-click="caseDiscussionController.goToDiscussionMessages(discussion)" tooltip-placement="top" uib-tooltip="{{discussion.title}}" tooltip-enable="{{discussion.title.length > 40}}">{{discussion.title.length > 40 ? discussion.title.slice(0,36)+'...' : discussion.title}}</strong>
                                                            <span tooltip-placement="top" uib-tooltip="{{discussion.recentMessage|htmlToPlaintext}}" tooltip-enable="{{discussion.recentMessage.length > 100}}">{{discussion.recentMessage.length > 100 ? discussion.recentMessage.slice(0,96)+'...' : discussion.recentMessage | htmlToPlaintext}}</span>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td class="file-thumb">
                                                    <div class="thumb-list">
                                                        <ul class="list-inline">
                                                            <li ng-repeat="discussionFile in discussion.discussionAndDiscussionMessagesFiles">
                                                                <a tooltip-placement="top" uib-tooltip="{{discussionFile.fileName}} : By - {{discussionFile.userName}}" ng-if="discussionFile.fileType == '.txt'" ng-click="caseDiscussionController.downloadFile(discussionFile.fileId)" href="#"><img src="Assets/img/txt.png" /></a>
                                                                <a ng-if="discussionFile.fileType == '.docx'" tooltip-placement="top" uib-tooltip="{{discussionFile.fileName}} : By - {{discussionFile.userName}}" ng-click="caseDiscussionController.downloadFile(discussionFile.fileId)" href="#"><img src="Assets/img/docx.png" /></a>
                                                                <a ng-if="discussionFile.fileType == '.pdf'" tooltip-placement="top" uib-tooltip="{{discussionFile.fileName}} : By - {{discussionFile.userName}}" ng-click="caseDiscussionController.downloadFile(discussionFile.fileId)" href="#"><img src="Assets/img/pdf.png" /></a>
                                                                <a ng-if="discussionFile.fileType == '.xlsx' || discussionFile.fileType == '.xls'" tooltip-placement="top" uib-tooltip="{{discussionFile.fileName}} : By - {{discussionFile.userName}}" ng-click="caseDiscussionController.downloadFile(discussionFile.fileId)" href="#"><img src="Assets/img/xlsx.png" /></a>
                                                                <a ng-if="discussionFile.fileType == '.csv'" tooltip-placement="top" uib-tooltip="{{discussionFile.fileName}} : By - {{discussionFile.userName}}" ng-click="caseDiscussionController.downloadFile(discussionFile.fileId)" href="#"><img src="Assets/img/csv.png" /></a>
                                                                <a ng-if="discussionFile.fileType == '.jpg'|| discussionFile.fileType == '.png' || discussionFile.fileType == '.jpeg'" tooltip-placement="top" uib-tooltip="{{discussionFile.fileName}} : By - {{discussionFile.userName}}" ng-click="caseDiscussionController.downloadFile(discussionFile.fileId)" href="#"><img src="Assets/img/image.png" /></a>
                                                                <a ng-if="discussionFile.fileType != '.jpg' && discussionFile.fileType != '.png' && discussionFile.fileType != '.jpeg' && discussionFile.fileType != '.xlsx' && discussionFile.fileType != '.txt' && discussionFile.fileType != '.xls' && discussionFile.fileType != '.pdf' && discussionFile.fileType != '.docx' && discussionFile.fileType != '.csv'" tooltip-placement="top" uib-tooltip="{{discussionFile.fileName}} : By - {{discussionFile.userName}}" ng-click="caseDiscussionController.downloadFile(discussionFile.fileId)" href="#"><img src="Assets/img/default.png" /></a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </td>

                                                <td width="180">
                                                    <span>{{discussion.lastEditedDateTime | date : 'medium'}}</span>
                                                </td>
                                                <td width="100" class="text-right"><a href="#" ng-click="caseDiscussionController.goToDiscussionMessages(discussion)" class="msg-count">{{discussion.messageCount}}</a></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- END table-responsive-->
                                <div class="pagination-container" ng-if="caseDiscussionController.numberOfDiscussions > 0">
                                    <div class="text-center">
                                        <div class="btn-toolbar" role="toolbar">
                                            <div class="btn-group" role="group">
                                                <button ng-if="caseDiscussionController.discussionPageIndex != 0" ng-click="caseDiscussionController.isDiscussionSearchActive ? caseDiscussionController.getDiscussionsByKeyword(caseDiscussionController.discussionPageIndex - 1) : caseDetailsController.getMyDiscussionsByCaseId(caseDiscussionController.discussionPageIndex - 1)" type="button" class="btn btn-default">
                                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                                </button>
                                                <button ng-repeat="page in caseDiscussionController.allDiscussionPages track by $index" type="button" ng-class="{active:caseDiscussionController.discussionPageIndex == $index}" ng-click="caseDiscussionController.isDiscussionSearchActive ? caseDiscussionController.getDiscussionsByKeyword($index) : caseDetailsController.getMyDiscussionsByCaseId($index)"
                                                        class="btn btn-default">
                                                    {{$index + 1}}
                                                </button>
                                                <button ng-if="caseDiscussionController.discussionPageIndex != caseDiscussionController.allDiscussionPages.length - 1" type="button" ng-click="caseDiscussionController.isDiscussionSearchActive ? caseDiscussionController.getDiscussionsByKeyword(caseDiscussionController.discussionPageIndex + 1) : caseDetailsController.getMyDiscussionsByCaseId(caseDiscussionController.discussionPageIndex + 1)" class="btn btn-default">
                                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

