﻿<div ng-controller="CalendarController as calendarController" ng-init="calendarController.caseCalendarInit()" has-permission="VIEW_OWN_CALENDAR">
    <div class="am-content">
            <div ng-controller="CaseHeaderController as caseHeaderController" class="no-padding ">
                <div ng-include src="'/webapp/modules/core/views/case-header.view.html'"></div>
                <div ng-include src="'/webapp/modules/core/views/case-header-navigationbar.view.html'"></div>
            </div>
            <div class="main-content" ng-hide="!calendarController.hasPermission('VIEW_OWN_CALENDAR') || calendarController.case.isNFCCase">
                <div class="panel panel-default">

                        <div class="row">

                            <div class="col-lg-4 text-left">
                                <div class="btn-group btn-group-sm">

                                    <a class="btn btn-theme-yellow btn-sm"
                                       mwl-date-modifier
                                       date="calendarController.viewDate"
                                       decrement="calendarController.calendarView">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="btn btn-theme-gray btn-sm"
                                       mwl-date-modifier
                                       date="calendarController.viewDate"
                                       set-to-today>
                                        Today
                                    </a>
                                    <a class="btn btn-theme-yellow btn-sm"
                                       mwl-date-modifier
                                       date="calendarController.viewDate"
                                       increment="calendarController.calendarView">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center"><h3><b>{{ calendarController.calendarTitle }}</b></h3></div>
                            <div class="col-lg-4 text-right">
                                <div class="btn-group btn-group-sm">
                                    <label class="btn btn-theme-gray btn-sm" ng-model="calendarController.calendarView" uib-btn-radio="'year'">Year</label>
                                    <label class="btn btn-theme-gray btn-sm" ng-model="calendarController.calendarView" uib-btn-radio="'month'">Month</label>
                                    <label class="btn btn-theme-gray btn-sm" ng-model="calendarController.calendarView" uib-btn-radio="'week'">Week</label>
                                    <label class="btn btn-theme-gray btn-sm" ng-model="calendarController.calendarView" uib-btn-radio="'day'">Day</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <mwl-calendar events="calendarController.events"
                                              view="calendarController.calendarView"
                                              view-title="calendarController.calendarTitle"
                                              view-date="calendarController.viewDate"
                                              slide-box-disabled="true"
                                              cell-modifier="calendarController.groupEvents(calendarCell)">
                                </mwl-calendar>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>

