﻿<div ng-controller="CaseDetailsController as caseDetailsController" ng-init="caseDetailsController.caseFilesInit()" class="no-padding">
    <div class="am-content">
        <div ng-controller="CaseHeaderController as caseHeaderController" class="no-padding ">
            <div ng-include src="'/webapp/modules/core/views/case-header.view.html'"></div>
            <div ng-include src="'/webapp/modules/core/views/case-header-navigationbar.view.html'"></div>
        </div>
        <div class="main-content" ng-hide="caseDetailsController.case.isNFCCase || !caseDetailsController.hasPermission('VIEW_ALL_FILES')">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="flex-box" >
                        <div class="input-group search-box-small">
                            <span class="input-group-btn">
                                <button class="btn search-btn" ng-click="caseDetailsController.getFilesByKeyword()" ng-disabled="caseDetailsController.fileSearchQuery == undefined || caseDetailsController.fileSearchQuery == ''"><img src="/Assets/icons/search.svg" class="svg-addon"></button>
                            </span>
                            <input type="text" placeholder="Search Files" autocomplete="off" class="form-control" ng-model="caseDetailsController.fileSearchQuery" ng-change="(caseDetailsController.fileSearchQuery == undefined || caseDetailsController.fileSearchQuery == '') && caseDetailsController.isFileSearchActive ? caseDetailsController.resetSearchResult() : null" ng-keyup="$event.keyCode == 13 ? caseDetailsController.getFilesByKeyword() : null">
                            <span class="input-group-btn" ng-show="caseDetailsController.fileSearchQuery != undefined && caseDetailsController.fileSearchQuery != ''">
                                <button class="btn search-btn search-reset" ng-click="caseDetailsController.fileSearchQuery = ''; caseDetailsController.isFileSearchActive ? caseDetailsController.resetSearchResult() : null"><i class="fa fa-times"></i></button>
                            </span>
                        </div>

                        <div class="file-upload" has-permission="UPLOAD_CASE_FILE" ng-if="caseDetailsController.hasPermissionToCreate">
                            <div id="my-awesome-dropzone" action="/file-upload" class="dropzone" ngf-drop="caseDetailsController.uploadFiles($files)"
                                 ngf-drag-over-class="'dragover'" ngf-multiple="true"
                                 ngf-pattern="*" ngf-select="caseDetailsController.uploadFiles($files)" multiple="multiple">
                                <div class="dz-message">
                                    <div class="row">
                                        <div class="drop-text"><span class="icon"><i class="s7-cloud-upload"></i></span> <span>Select or Drag and Drop files here</span></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class="">
                        <table class="table table-hover table-condensed" ng-hide="caseDetailsController.allCaseRelatedFiles.length + caseDetailsController.allTaskRelatedFiles + caseDetailsController.allDiscussionRelatedFiles == 0">
                            <thead>
                                <tr>
                                    <th width="350">File Name</th>
                                    <th width="250">Uploaded Date</th>
                                    <th width="250">Uploaded By</th>
                                    <th width="100"></th>
                                    <th class="text-center" width="100">Download</th>
                                    <th class="text-center" width="100">Archive</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr has-permission="VIEW_ALL_FILES" ng-if="caseDetailsController.caseFilesCount > 0"><td class="table-section" colspan="6"><strong>Case Files</strong></td></tr>
                                <tr has-permission="VIEW_ALL_FILES" id="scroll_{{file.fileId}}" ng-class="{'search_file_bg': file.fileId == caseDetailsController.searchedFileId}" ng-if="caseDetailsController.caseFilesCount > 0" ng-repeat="file in caseDetailsController.allCaseRelatedFiles|orderBy:'-fileUploadedTime'">
                                    <td class="filename-pointer" ng-click="caseDetailsController.selectedFileId = file.uniqueId; caseDetailsController.fileName = file.fileName" ng-if="caseDetailsController.selectedFileId != file.uniqueId">
                                        <span tooltip-placement="bottom" uib-tooltip="Click to edit">{{file.fileName}}</span>
                                    </td>
                                    <td ng-if="caseDetailsController.selectedFileId == file.uniqueId">
                                        <div class="input-group file-rename-width">
                                            <input ng-model="caseDetailsController.fileName" type="text" class="form-control file-rename" />
                                            <span class="input-group-btn file-rename-btn">
                                                <button class="btn btn-sm btn-theme-yellow" ng-click="caseDetailsController.renameFile(file)"><i class="fa fa-check"></i></button>
                                                <button class="btn btn-sm btn-theme-gray" ng-click="caseDetailsController.selectedFileId = null"><i class="fa fa-times"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td>{{file.fileUploadedTime|date:'medium'}}</td>
                                    <td>{{file.fileUploadedBy}}</td>
                                    <td></td>
                                    <td class="text-center">
                                        <a href="#" tooltip-placement="bottom" uib-tooltip="Download" ng-click="caseDetailsController.downloadFile(file.fileId, caseDetailsController.downloadFileType['CaseFile'])"><i class="fa fa-download"></i></a>
                                    </td>
                                    <td class="text-center">
                                        <a href="#" tooltip-placement="bottom" uib-tooltip="Archive" ng-really-click="caseDetailsController.deleteCaseAssociatedFile(file)" ng-really-message="Are you sure you want to archive this file?" ng-really-title="Archive File"><i class="fa fa-archive"></i></a>
                                    </td>
                                </tr>
                                <tr ng-if="caseDetailsController.discussionFilesCount > 0"><td class="table-section" colspan="6"><strong>Discussion Files</strong></td></tr>
                                <tr ng-repeat="(key, value) in caseDetailsController.allDiscussionRelatedFiles|orderBy:'-fileUploadedTime' | groupBy: 'discussionName'" class="task_files">
                                    <td colspan="6" class="no-padding">
                                        <table class="table table-hover table-condensed task_files_table">
                                            <tbody>
                                                <tr class="task_files">
                                                    <td colspan="6"><a class="pointer anchor_link" ng-click="caseDetailsController.goToSelectedDiscussionDetails(value[$index])">{{key}} ({{value[$index].discussionMessageCount}} messages)</a></td>
                                                </tr>
                                                <tr id="scroll_{{file.fileId}}" class="task_files" ng-class="{'search_file_bg': file.fileId == caseDetailsController.searchedFileId}" ng-repeat="file in value">
                                                    <td width="350" class="filename-pointer" ng-click="caseDetailsController.selectedFileId = file.uniqueId; caseDetailsController.fileName = file.fileName" ng-if="caseDetailsController.selectedFileId != file.uniqueId">
                                                        <span tooltip-placement="bottom" uib-tooltip="Click to edit">{{file.fileName}}</span>
                                                    </td>
                                                    <td ng-if="caseDetailsController.selectedFileId == file.uniqueId">
                                                        <div class="input-group file-rename-width">
                                                            <input ng-model="caseDetailsController.fileName" type="text" class="form-control file-rename" />
                                                            <span class="input-group-btn file-rename-btn">
                                                                <button class="btn btn-sm btn-theme-yellow" ng-click="caseDetailsController.renameFile(file)"><i class="fa fa-check"></i></button>
                                                                <button class="btn btn-sm btn-theme-gray" ng-click="caseDetailsController.selectedFileId = null"><i class="fa fa-times"></i></button>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td width="250">{{file.fileUploadedTime|date:'medium'}}</td>
                                                    <td width="250">{{file.fileUploadedBy}}</td>
                                                    <td width="100"></td>
                                                    <td class="text-center" width="100">
                                                        <a href="#" tooltip-placement="bottom" uib-tooltip="Download" ng-click="caseDetailsController.downloadFile(file.fileId, caseDetailsController.downloadFileType['DiscussionFile'])"><i class="fa fa-download"></i></a>
                                                    </td>
                                                    <td width="100"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr ng-if="caseDetailsController.taskFilesCount > 0"><td class="table-section" colspan="6"><strong>Task Files</strong></td></tr>
                                <tr ng-repeat="(key, value) in caseDetailsController.allTaskRelatedFiles|orderBy:'-fileUploadedTime' | groupBy: 'taskName'" class="task_files">
                                    <td colspan="6" class="no-padding">
                                        <table class="table table-hover table-condensed task_files_table">
                                            <tbody>
                                                <tr class="task_files">
                                                    <td colspan="6"><a class="pointer anchor_link" href="/case-management/cases/{{caseDetailsController.case.caseNumber}}/task/{{value[0].taskId}}">{{key}}</a></td>
                                                </tr>
                                                <tr id="scroll_{{file.fileId}}" class="task_files" ng-class="{'search_file_bg': file.fileId == caseDetailsController.searchedFileId}" ng-repeat="file in value">
                                                    <td width="350" class="filename-pointer" ng-click="caseDetailsController.selectedFileId = file.uniqueId; caseDetailsController.fileName = file.fileName" ng-if="caseDetailsController.selectedFileId != file.uniqueId">
                                                        <span tooltip-placement="bottom" uib-tooltip="Click to edit">{{file.fileName}}</span>
                                                    </td>
                                                    <td ng-if="caseDetailsController.selectedFileId == file.uniqueId">
                                                        <div class="input-group file-rename-width">
                                                            <input ng-model="caseDetailsController.fileName" type="text" class="form-control file-rename" />
                                                            <span class="input-group-btn file-rename-btn">
                                                                <button class="btn btn-sm btn-theme-yellow" ng-click="caseDetailsController.renameFile(file)"><i class="fa fa-check"></i></button>
                                                                <button class="btn btn-sm btn-theme-gray" ng-click="caseDetailsController.selectedFileId = null"><i class="fa fa-times"></i></button>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td width="250">{{file.fileUploadedTime|date:'medium'}}</td>
                                                    <td width="250">{{file.fileUploadedBy}}</td>
                                                    <td width="100"></td>
                                                    <td class="text-center" width="100">
                                                        <a href="#" tooltip-placement="bottom" uib-tooltip="Download" ng-click="caseDetailsController.downloadFile(file.fileId, caseDetailsController.downloadFileType['TaskFile'])"><i class="fa fa-download"></i></a>
                                                    </td>
                                                    <td width="100"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h4 class="text-center" ng-if="caseDetailsController.allCaseRelatedFiles.length + caseDetailsController.allTaskRelatedFiles + caseDetailsController.allDiscussionRelatedFiles == 0">
                            There are no files to display !
                        </h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
