<div ng-controller="TimesheetController as timesheetController" ng-init="timesheetController.init()">
    <div class="am-content">
        <div ng-controller="CaseHeaderController as caseHeaderController" class="no-padding ">
            <div ng-include src="'/webapp/modules/core/views/case-header.view.html'"></div>
            <div ng-include src="'/webapp/modules/core/views/case-header-navigationbar.view.html'"></div>
        </div>

        <div class="main-content" ng-hide="timesheetController.case.isNFCCase || !timesheetController.hasPermission('CASE_OWN_TIMESHEET')">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="total-cost-container clearfix">
                                <div class="pull-left total-cost">
                                    <h3 ng-show="timesheetController.allTimesheets.length > 0" has-permission="ADD_TIMESHEET_COST">Total Cost : {{timesheetController.totalCost | currency : "$" : 2}}</h3>
                                    <h3 ng-show="timesheetController.allTimesheets.length > 0">Total Hours : {{timesheetController.totalHours | number : 2}}</h3>
                                </div>
                                <div class="text-right">
                                    <button ng-if="timesheetController.hasPermissionToCreate" has-permission="ADD_TIMESHEET" class="btn btn-theme-yellow" ng-click="timesheetController.addTimesheet()" ng-disabled="timesheetController.isTimesheetBeingAdded"><i class="fa fa-plus"></i> Add Timesheet</button>
                                </div>
                            </div>
                            <div class="">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th width="265">User</th>
                                            <th width="225">Description</th>
                                            <th width="130">Select Date</th>
                                            <th width="90" ng-hide="timesheetController.isTimesheetBeingEdited || timesheetController.isTimesheetBeingAdded">Hours</th>                                            
                                            <th width="90" ng-show="timesheetController.isTimesheetBeingEdited || timesheetController.isTimesheetBeingAdded">Start Time</th>
                                            <th width="90" ng-show="timesheetController.isTimesheetBeingEdited || timesheetController.isTimesheetBeingAdded">End Time</th>
                                            <th width="100" has-permission="ADD_TIMESHEET_COST">Rate ($)</th>
                                            <th width="90" ng-hide="timesheetController.isTimesheetBeingEdited || timesheetController.isTimesheetBeingAdded" has-permission="ADD_TIMESHEET_COST">Cost ($)</th>
                                            <th width="130" class="text-right" has-permission="VIEW_TIMESHEET_ACTION">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="timesheetController.isTimesheetBeingAdded">
                                            <td width="265" has-permission="ADD_TIMESHEET_COST" class="description-dd">
                                                <ui-select ng-model="timesheetController.newTimesheet.user" class="form-control" ng-click="timesheetController.selectedTimePicker=''" ng-disabled="timesheetController.isStartTimeAdded">
                                                    <ui-select-match placeholder="Please select user ...">
                                                        <span>{{$select.selected.firstName+" "+$select.selected.lastName}}</span>
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="user in (timesheetController.users | filter: { userName: $select.search }) track by user.id" refresh-delay="0">
                                                        <span>{{user.firstName}} {{user.lastName}}</span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td width="300" ng-if="!timesheetController.canUserSelectTimeSheetPersonName()" class="description-dd">
                                                <ui-select ng-model="timesheetController.newTimesheet.user" ng-disabled="true" class="form-control"  ng-click="timesheetController.selectedTimePicker=''">
                                                    <ui-select-match placeholder="Please select user ...">
                                                        <span>{{$select.selected.firstName+" "+$select.selected.lastName}}</span>
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="user in (timesheetController.users | filter: { userName: $select.search }) track by user.id" refresh-delay="0">
                                                        <span>{{user.firstName}} {{user.lastName}}</span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td width="225" class="description-dd">
                                                <ui-select ng-hide="timesheetController.isStartTimeAdded" ng-model="timesheetController.newTimesheet.description" class="form-control" ng-click="timesheetController.selectedTimePicker=''">
                                                    <ui-select-match placeholder="Please select description ...">
                                                        <span>{{$select.selected.description}}</span>
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="timesheetDescription in (timesheetController.allTimesheetDescriptions | filter: { description: $select.search }) track by timesheetDescription.id" refresh-delay="0">
                                                        <span>{{timesheetDescription.description}}</span>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <input ng-show="timesheetController.isStartTimeAdded" class="form-control" ng-model="timesheetController.newTimesheet.description.description" ng-disabled="true" required>
                                                <input ng-disabled="timesheetController.isStartTimeAdded" ng-show="timesheetController.newTimesheet.description.description=='Other (Manual)'" type="text" class="form-control custom_description" ng-model="timesheetController.newTimesheet.customDescription" placeholder="Please enter custom description">
                                            </td>
                                            <td width="130">
                                                <div class="has-feedback has-feedback-left">
                                                    <input ng-disabled="timesheetController.isStartTimeAdded" type="text" class="form-control timesheet_date" ng-click="newTimesheetDatePicker.opened=!newTimesheetDatePicker.opened;timesheetController.selectedTimePicker=''" uib-datepicker-popup="MMMM dd, yyyy" ng-model="timesheetController.newDate" is-open="newTimesheetDatePicker.opened" datepicker-options="timesheetController.datePickerOptions" readonly close-text="Close" show-button-bar="false" />
                                                    <span class="fa fa-calendar form-control-feedback"></span>
                                                </div>
                                            </td>
                                            <td width="90">
                                                <input ng-disabled="timesheetController.isStartTimeAdded" ng-value="timesheetController.newTimesheet.startTime|date:'shortTime'" ng-click="timesheetController.selectedTimePicker='NewStartTime'" class="form-control timesheet_time" readonly/>
                                                <div class="time-select" ng-if="timesheetController.selectedTimePicker=='NewStartTime'">
                                                    <uib-timepicker ng-model="timesheetController.newTimesheet.startTime" ng-change="timesheetController.calculateTotalCost(timesheetController.newTimesheet.endTime)" hour-step="1" minute-step="5" show-meridian="true"></uib-timepicker>
                                                </div>
                                                </td>
                                            <td width="90">
                                                <input ng-disabled="timesheetController.isStartTimeAdded" ng-value="timesheetController.newTimesheet.endTime|date:'shortTime'" ng-click="timesheetController.selectedTimePicker='NewEndTime'" class="form-control timesheet_time" readonly />
                                                <div class="time-select" ng-if="timesheetController.selectedTimePicker=='NewEndTime'">
                                                    <uib-timepicker ng-model="timesheetController.newTimesheet.endTime" ng-change="timesheetController.calculateTotalCost(timesheetController.newTimesheet.endTime)" hour-step="1" minute-step="5" show-meridian="true"></uib-timepicker>
                                                    </div>
                                                </td>
                                            <td width="40" has-permission="ADD_TIMESHEET_COST">
                                                <div class="input-group">                                                   
                                                    <input ng-disabled="timesheetController.isStartTimeAdded" type="text" class="form-control timesheet_cost" ng-model="timesheetController.newTimesheet.cost" ng-change="timesheetController.calculateTotalCost(timesheetController.newTimesheet.endTime)"  ng-click="timesheetController.selectedTimePicker=''" ng-pattern="/^\d*[.]?\d*$/">
                                                </div>
                                            </td>
                                            <td width="130"  has-permission="VIEW_TIMESHEET_ACTION">
                                                <div class="btn-group btn-group-sm action-group pull-right" ng-class="{'timesheet_actions': !timesheetController.isStartTimeAdded}">                                                      
                                                        <button ng-hide="timesheetController.isStartTimeAdded" ng-disabled="timesheetController.isEndTimeAdded" class="btn btn-theme-gray" ng-click="timesheetController.setTimesheetTime(true, false, timesheetController.newTimesheet)">
                                                            <img src="/Assets/img/stop-timer-hand-blue.gif" class="clock-icon">
                                                            Start
                                                        </button>

                                                        <button ng-show="timesheetController.isStartTimeAdded && !timesheetController.isEndTimeAdded" class="btn btn-theme-yellow pull-right" ng-click="timesheetController.setTimesheetTime(false, true, timesheetController.newTimesheet)">
                                                            <img src="assets/img/running-timer-hand-blue.gif" class="clock-icon">
                                                            Stop
                                                        </button>
                                                    <a ng-hide="timesheetController.isStartTimeAdded" class="btn btn-theme-yellow btn-sm" ng-click="timesheetController.saveTimesheet(timesheetController.newTimesheet)">Save</a>
                                                    <a ng-hide="timesheetController.isStartTimeAdded" class="btn btn-theme-gray btn-sm" ng-click="timesheetController.cancelTimesheetChanges(timesheetController.newTimesheet)">Cancel</a>
                                                </div>
                                            </td>
                                        </tr>         
                                                                                                                                                                                             
                                        <!--Edit View-->
                                        <tr ng-repeat="eachTimesheet in timesheetController.allTimesheets | orderBy :'-creationDateTime' track by eachTimesheet.id">
                                            <td class="pointer" ng-click="timesheetController.editTimesheet(eachTimesheet)" ng-hide="timesheetController.timesheet.id == eachTimesheet.id ">{{eachTimesheet.user.firstName+" "+eachTimesheet.user.lastName}} </td>
                                            <td width="300" ng-show="timesheetController.timesheet.id == eachTimesheet.id" has-permission="ADD_TIMESHEET_COST">
                                                <ui-select ng-model="timesheetController.timesheet.user" class="form-control"  ng-click="timesheetController.selectedTimePicker=''">
                                                    <ui-select-match placeholder="Please select user ...">
                                                        <span>{{$select.selected.firstName+" "+$select.selected.lastName}}</span>
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="user in (timesheetController.users | filter: { userName: $select.search }) track by user.id" refresh-delay="0">
                                                        <span>{{user.firstName}} {{user.lastName}}</span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>

                                            <td width="300" ng-show="timesheetController.timesheet.id == eachTimesheet.id" ng-if="!timesheetController.canUserSelectTimeSheetPersonName()">
                                                <ui-select ng-model="timesheetController.timesheet.user" ng-disabled="true" class="form-control"  ng-click="timesheetController.selectedTimePicker=''">
                                                    <ui-select-match placeholder="Please select user ...">
                                                        <span>{{$select.selected.firstName+" "+$select.selected.lastName}}</span>
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="user in (timesheetController.users | filter: { userName: $select.search }) track by user.id" refresh-delay="0">
                                                        <span>{{user.firstName}} {{user.lastName}}</span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </td>
                                            <td class="pointer" ng-click="timesheetController.editTimesheet(eachTimesheet)" ng-hide="timesheetController.timesheet.id == eachTimesheet.id">{{eachTimesheet.description.description}}<span ng-show="eachTimesheet.description=='Other (Manual)'"><b> ({{eachTimesheet.customDescription}})</b></span></td>
                                            <td width="225" ng-show="timesheetController.timesheet.id == eachTimesheet.id">
                                                <select class="form-control" ng-options="timesheetDescription.description for timesheetDescription in timesheetController.allTimesheetDescriptions track by timesheetDescription.id" ng-model="timesheetController.timesheet.description"  ng-click="timesheetController.selectedTimePicker=''">
                                                <option value="" disabled>Please select timesheet description</option>
                                                </select>
                                                <input ng-show="timesheetController.timesheet.description.description=='Other (Manual)'" type="text" class="form-control custom_description" ng-model="timesheetController.timesheet.customDescription" placeholder="Please enter custom description"  ng-click="timesheetController.selectedTimePicker=''">
                                            </td>
											<td class="pointer" ng-click="timesheetController.editTimesheet(eachTimesheet)" ng-hide="timesheetController.timesheet.id == eachTimesheet.id">{{eachTimesheet.editDate|date}}</td>
                                            <td width="125" ng-if="timesheetController.timesheet.id == eachTimesheet.id ">
                                                <div class="has-feedback has-feedback-left">
                                                    <input type="text" class="form-control" ng-click="editedTimesheetDatePicker.opened=!editedTimesheetDatePicker.opened;timesheetController.selectedTimePicker=''" uib-datepicker-popup="MMMM dd, yyyy" ng-model="timesheetController.editDate" is-open="editedTimesheetDatePicker.opened" datepicker-options="timesheetController.datePickerOptions" readonly close-text="Close" show-button-bar="false" />
                                                    <span class="fa fa-calendar form-control-feedback"></span>
                                                </div>
                                            </td>
                                            <td class="pointer" ng-click="timesheetController.editTimesheet(eachTimesheet)" ng-hide="timesheetController.timesheet.id == eachTimesheet.id">{{eachTimesheet.timeSpent| number : 2}}</td>                                            
                                            <td width="90" ng-if="timesheetController.timesheet.id == eachTimesheet.id ">
                                                <input ng-value="timesheetController.timesheet.startTime|date:'shortTime'" ng-click="timesheetController.selectedTimePicker='EditStartTime'" class="form-control" readonly />
                                                <div class="time-select" ng-if="timesheetController.selectedTimePicker=='EditStartTime'">
                                                    <uib-timepicker ng-model="timesheetController.timesheet.startTime" ng-change="timesheetController.calculateTotalCost()" hour-step="1" minute-step="5" show-meridian="true"></uib-timepicker>
                                                    </div>
                                                 </td>
                                            <td width="90" ng-if="timesheetController.timesheet.id == eachTimesheet.id ">
                                                <input ng-value="timesheetController.timesheet.endTime|date:'shortTime'" ng-click="timesheetController.selectedTimePicker='EditEndTime'" class="form-control" readonly />
                                                <div class="time-select" ng-if="timesheetController.selectedTimePicker=='EditEndTime'">
                                                    <uib-timepicker ng-model="timesheetController.timesheet.endTime" ng-change="timesheetController.calculateTotalCost()" hour-step="1" minute-step="5" show-meridian="true"></uib-timepicker>
                                                    </div>
                                                 </td>

                                            <td class="pointer" ng-click="timesheetController.editTimesheet(eachTimesheet)" ng-hide="timesheetController.timesheet.id == eachTimesheet.id" has-permission="ADD_TIMESHEET_COST">{{eachTimesheet.cost | number : 2}}</td>
                                            <td width="40" ng-if="timesheetController.timesheet.id == eachTimesheet.id " has-permission="ADD_TIMESHEET_COST">
                                                <div class="input-group">                                                  
                                                    <input type="text" class="form-control timesheet_cost" ng-model="timesheetController.timesheet.cost" ng-change="timesheetController.calculateTotalCost()"  ng-click="timesheetController.selectedTimePicker=''" ng-pattern="/^\d*[.]?\d*$/">
                                                </div>
                                            </td>
                                            <td class="pointer" ng-click="timesheetController.editTimesheet(eachTimesheet)" ng-hide="timesheetController.timesheet.id == eachTimesheet.id" has-permission="ADD_TIMESHEET_COST">{{eachTimesheet.timeSpent * eachTimesheet.cost | number : 2}}</td>
                                            <td width="10">
                                                <div class="btn-group btn-group-sm action-group">
                                                    <button has-permission="CAN_DELETE_TIMESHEET" ng-hide="timesheetController.timesheet.id == eachTimesheet.id" tooltip-placement="bottom" uib-tooltip="Delete" class="btn btn-danger pull-right delete-sm btn-square" ng-really-message="Are you sure you want to delete this timesheet?" ng-really-click="timesheetController.deleteTimesheet(eachTimesheet.id)"
                                                            ng-really-title="Delete Timesheet" item="case" ng-click="timesheetController.selectedTimePicker=''">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                    <a has-permission="ADD_TIMESHEET" ng-show="timesheetController.timesheet.id == eachTimesheet.id" class="btn btn-theme-yellow btn-sm" ng-click="timesheetController.saveTimesheet(timesheetController.timesheet)">Save</a>
                                                    <a has-permission="ADD_TIMESHEET" ng-show="timesheetController.timesheet.id == eachTimesheet.id" class="btn btn-theme-gray btn-sm" ng-click="timesheetController.cancelTimesheetChanges(timesheetController.timesheet)">Cancel</a>
                                                </div>                                              
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>