﻿<div ng-controller="CaseController as caseController" ng-init="caseController.init()">
    <div class="am-content">
        <div class="page-head">
            <div class="row">
                <div class="col-md-4 col-sm-9">
                    <div class="my-case-container">

                        <div class="case-icon">
                            <img src="/Assets/icons/cases2.svg">
                        </div>

                        <div class="my-case-inner">
                            <div>
                            <span><strong>{{caseController.caseFilterOption}}</strong></span>
                            </div>
                            <div class="open-cases">
                                <div class="dropdown btn-group btn-hspace" uib-dropdown>
                                    <a uib-dropdown-toggle href="#" role="button" data-toggle="dropdown" class="btn btn-mycase dropdown-toggle" aria-expanded="false">
                                       Cases <span class="caret" ng-hide="caseController.roleName == 'Client_Participant'"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </a>

                                    <ul uib-dropdown-menu role="menu" class="dropdown-menu case-dropdown" has-permission="VIEW_CASE_FILTER_DROPDOWN">
                                        <li><a href="#" ng-click="caseController.getFilterForEachOption(0)">New Cases</a></li>
                                        <li><a href="#" ng-click="caseController.getFilterForEachOption(1)">My Cases</a></li>
                                        <li><a href="#" ng-click="caseController.getFilterForEachOption(2)">Completed Cases</a></li>
                                        <li><a href="#" ng-click="caseController.getFilterForEachOption(3)">Archived Cases</a></li>
                                        <li><a href="#" ng-click="caseController.getFilterForEachOption(4)">All Cases</a></li>
                                        <li><a href="#" ng-click="caseController.getFilterForEachOption(5)">Open Cases </a></li>
                                        <li><a href="#" ng-click="caseController.getFilterForEachOption(6)">Closed Cases </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <ul class="nav navbar-nav am-nav-right col-md-4 col-sm-6">
                    <li class="serach-container hidden-sm">
                        <div class="input-group search-box-small">
                            <span class="input-group-btn">
                                <button class="btn search-btn" ng-click="caseController.searchCases(searchQuery)" ng-disabled="searchQuery == undefined || searchQuery == ''"><img src="/Assets/icons/search.svg" class="svg-addon"></button>
                            </span>
                            <input type="text" placeholder="Search Cases" autocomplete="off" class="form-control" ng-model="searchQuery" ng-change="(searchQuery == undefined || searchQuery == '') && caseController.isCaseSearchActive ? caseController.resetSearchResult() : null" ng-keyup="$event.keyCode == 13 ? caseController.searchCases(searchQuery) : null">
                            <span class="input-group-btn" ng-show="searchQuery != undefined && searchQuery != ''">
                                <button class="btn search-btn search-reset" ng-click="searchQuery=''; caseController.isCaseSearchActive ? caseController.resetSearchResult() : null"><i class="fa fa-times"></i></button>
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="col-md-4 col-sm-3">
                    <div class="text-right add-new-case">
                        <button has-permission="CASE_CREATE" class="btn btn-theme-yellow" ng-click="caseController.openAddCaseModal()">New Case</button>
                        <button has-permission="REQUEST_CASE" class="btn btn-theme-yellow" ng-click="caseController.openRequestCaseModal()">Request a case</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="">
                                <table class="table table-hover table-condensed">
                                    <thead>
                                        <tr ng-if="caseController.cases.length > 0">                                          
                                            <th>Casename</th>
                                            <th ng-show="caseController.roleName == 'Client_Participant'">Subject Name</th>
                                            <th ng-show="caseController.roleName == 'Client_Participant'">Subject type</th>
                                            <th ng-show="caseController.roleName == 'Client_Participant'">Order Date</th>
                                            <th ng-show="caseController.roleName == 'Client_Participant'"> Estimated Completion date</th>
                                            <th ng-show="caseController.roleName == 'Client_Participant'">Country</th>
                                            <th ng-show="caseController.roleName == 'Client_Participant'">Report Type</th>
                                            <th ng-show="caseController.roleName == 'Client_Participant'">Speed</th>
                                            <th ng-show="caseController.roleName == 'Client_Participant'">Actual Retail</th>
                                            <th ng-if="caseController.roleName != 'Client_Participant' && caseController.roleName != 'In_Country_Investigator'">Client</th>
                                            <th ng-if="caseController.roleName != 'Client_Participant' && caseController.roleName != 'In_Country_Investigator'">Account</th>
                                            <th ng-if="caseController.roleName != 'Client_Participant' && caseController.roleName != 'In_Country_Investigator'">Contact</th>
                                            <th ng-if="caseController.roleName != 'Client_Participant' && caseController.roleName != 'In_Country_Investigator'">Position Held By Contact</th>
                                            <th ng-if="caseController.roleName != 'Client_Participant' && caseController.roleName != 'In_Country_Investigator'">Phone</th>
                                            <th ng-if="caseController.roleName != 'Client_Participant' && caseController.roleName != 'In_Country_Investigator'">Sales Rep</th>
                                            <th ng-if="caseController.roleName != 'Client_Participant' && caseController.roleName != 'In_Country_Investigator'"></th>
                                        </tr>
                                         <tr ng-if="caseController.isCaseSearchActive && caseController.cases.length == 0">
                                           <th> No result found</th> 
                                             </tr>
                                    </thead>
                                    <tbody ng-repeat="case in caseController.cases">
                                        <tr>                                           
                                            <td><a href="/case-management/cases/{{case.caseNumber}}/caseDetails" ng-class="caseController.caseFilterOption != 'Archived' ? 'pointer text-primary' : null" ng-click="caseController.caseFilterOption != 'Archived' ? caseController.openCaseDetails(case) : null"><span>{{case.matterName}}</span><span ng-show="case.matterName == null" tooltip-placement="bottom" uib-tooltip="Nickname">({{case.nickName}})</span></a>
                                                <a class="btn btn-purple btn-xs" ng-if="case.isNFCCase">NFC</a>
                                            </td>
                                            <td ng-show="caseController.roleName == 'Client_Participant'">{{case.reportSubject}}</td>
                                            <td ng-show="caseController.roleName == 'Client_Participant'">{{case.subjectType == 0 ? 'Company' : case.subjectType == 1 ? 'Individual': case.subjectType == 2 ? 'Others' :null}}</td>
                                            <td ng-show="caseController.roleName == 'Client_Participant'">{{case.creationDateTime | date:'mediumDate' }}</td>
                                            <td ng-show="caseController.roleName == 'Client_Participant'"></td>
                                            <td ng-show="caseController.roleName == 'Client_Participant'">{{case.primaryReportCountryName}}</td>
                                            <td ng-show="caseController.roleName == 'Client_Participant'">{{case.primaryReportType}}</td>
                                            <td ng-show="caseController.roleName == 'Client_Participant'">{{case.speed == 0 ? 'Normal' : case.speed == 1 ? 'Rush': case.speed == 2 ? 'Super Rush' :null}}</td>
                                            <td ng-show="caseController.roleName == 'Client_Participant'">{{case.actualRetail}}</td>
                                            <td ng-if="caseController.roleName != 'Client_Participant' && caseController.roleName != 'In_Country_Investigator'">{{case.client.clientName}}</td>
                                            <td ng-if="caseController.roleName != 'Client_Participant' && caseController.roleName != 'In_Country_Investigator'">{{case.businessUnit.accountCode}}</td>
                                            <td ng-if="caseController.roleName != 'Client_Participant' && caseController.roleName != 'In_Country_Investigator'">{{case.clientContactUser.contactName}}</td>
                                            <td ng-if="caseController.roleName != 'Client_Participant' && caseController.roleName != 'In_Country_Investigator'">{{case.clientContactUser.positionHeldbyContact}}</td>
                                            <td ng-if="caseController.roleName != 'Client_Participant' && caseController.roleName != 'In_Country_Investigator'">{{case.clientContactUser.phoneNumber}}</td>
                                            <td ng-if="caseController.roleName != 'Client_Participant' && caseController.roleName != 'In_Country_Investigator'">{{case.client.salesRepresentative.firstName+" "+case.client.salesRepresentative.lastName}}</td>
                                            <td ng-if="caseController.hasPermission('CASE_DELETE_OWN') || caseController.hasPermission('ASSIGN_TO_USER')">
                                                <div class="dropdown btn-group btn-space btn-group-sm list-action pull-right" uib-dropdown is-open="status.isopen">                                                    
                                                    <a uib-dropdown-toggle href="#" role="button" data-toggle="dropdown" class="btn btn-theme-yellow dropdown-toggle" aria-expanded="false" ng-if="caseController.caseFilterOption != 'Archived' ">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </a>
                                                    <ul uib-dropdown-menu role="menu" class="dropdown-menu dropdown-menu-right">
                                                        <li has-permission="CASE_DELETE_OWN" ng-if="!case.isDeleted" ng-really-message="Are you sure you want to archive this case?" ng-really-click="caseController.archiveCase(case.caseId)"
                                                            ng-really-title="Archive Case" item="case">
                                                            <a href="#">Archive</a>
                                                        </li>
                                                        <li ng-if="case.isDeleted" ng-really-message="Are you sure you want to unarchive this case?" ng-really-click="caseController.unarchiveCase(case)"
                                                            ng-really-title="Unarchive Case" item="case">
                                                            <a href="#">Unarchive</a>
                                                        </li>
                                                        <li has-permission="ASSIGN_TO_USER" ng-click="caseController.openAssignCaseModal(case)"><a href="#">Assign To User</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td ng-if="!caseController.hasPermission('CASE_DELETE_OWN') || !caseController.hasPermission('ASSIGN_TO_USER')"></td>
                                       </tr>
                                    </tbody>
                                </table>
                            </div>                           
                            <div class="pagination-container" ng-if="caseController.totalNumberOfCases > 0">
                                <div class="text-center">                                                                                                                                                                              
                                    <div class="btn-toolbar" role="toolbar">                                        
                                        <div class="btn-group" role="group">
                                            <button ng-hide="caseController.pageIndex == 0" ng-click="caseController.isCaseSearchActive ? caseController.getCasesByKeyword(caseController.pageIndex - 1) : caseController.fetchAndStoreCasesList(caseController.pageIndex - 1)" type="button" class="btn btn-default">
                                                <i class="fa fa-caret-left" aria-hidden="true"></i>
                                            </button>
                                            <button ng-repeat="page in caseController.allPages track by $index" type="button" ng-class="{active:caseController.pageIndex == $index}" ng-click="caseController.isCaseSearchActive ? caseController.getCasesByKeyword($index) : caseController.fetchAndStoreCasesList($index)"
                                                    class="btn btn-default">
                                                {{$index + 1}}
                                            </button>  
                                            <button ng-hide="caseController.pageIndex == caseController.allPages.length - 1" type="button" ng-click="caseController.isCaseSearchActive ? caseController.getCasesByKeyword(caseController.pageIndex + 1) : caseController.fetchAndStoreCasesList(caseController.pageIndex + 1)" class="btn btn-default">
                                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                            </button>                                      
                                        </div>                                       
                                        </div>
                                </div>
                            </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
</div>
    </div>

