﻿<div id="sidebar-section">
    <!--<div class="incomplete-inner" has-permission="VIEW_CASE_DETAILS">
        <div class="btn-section">
            <div class="text-center">
                <div class="btn-group-flex hold-toggle">
                    <div has-permission="VIEW_ONHOLD_BUTTON" class="switch-button switch-button-danger pull-right">
                        <input type="checkbox" ng-model="caseDetailsController.case.onHold" id="hold_switch" ng-change="caseDetailsController.toggleCaseOnHoldStatus(caseDetailsController.case)"><span>
                            <label for="hold_switch"></label>
                        </span>
                    </div>

                    <button has-permission="VIEW_CANCEL_BUTTON" class="btn btn-default-o btn-xs case-detail-btn-group" ng-really-message="Are you sure you want to change the status to  'Cancel' ?" ng-really-click="caseDetailsController.setCaseStatus('CANCEL')" ng-really-title="Change Status?" item="status">Cancel</button>
                </div>
                    <button ng-if="!caseDetailsController.case.isNFCCase && (caseDetailsController.case.caseStatus.status =='APPROVED' ||caseDetailsController.case.caseStatus.status == 'SENT_FOR_APPROVAL')" has-permission="VIEW_SEND_TO_NFC_BUTTON" ng-really-message="Are you sure you want to send this case to NFC ?" ng-really-click="caseDetailsController.onNFCSelected(caseDetailsController.case)"
                            ng-really-title="Send case to NFC?" item="client" type="button" class="btn btn-yellow-o btn-xs btn-block">
 Send to NFC</button>               
                    <button ng-if="caseDetailsController.case.caseStatus.status == 'SENT_FOR_APPROVAL'" has-permission="VIEW_APPROVE_BUTTON" type="button" class="btn btn-yellow-o btn-xs btn-block" ng-really-message="Are you sure you want to Approve the case?" ng-really-click="caseDetailsController.approveCase(caseDetailsController.case)" ng-really-title="Change Status?" item="status">Approve</button>
                    <button has-permission="VIEW_INFORMATION_PENDING_BUTTON" class="btn btn-default-o btn-xs btn-block " ng-really-message="Are you sure you want to change the status to  'Information Pending' ?" ng-really-click="caseDetailsController.setCaseStatus('INFORMATION_PENDING')" ng-really-title="Change Status?" item="status">Information Pending</button>
                    <button has-permission="VIEW_CLIENT_REQUEST_UPDATE_BUTTON" class="btn btn-yellow-o btn-sm btn-block" ng-really-message="Are you sure you want to change the status to  'Client Request Update' ?" ng-really-click="caseDetailsController.setCaseStatus('CLIENT_REQUESTED_UPDATE')" ng-really-title="Change Status?" item="status">Client Request Update</button>
                    <button has-permission="VIEW_SEND_FOR_REVIEW_BUTTON" class="btn btn-primary-o  btn-sm btn-block" ng-really-message="Are you sure you want to send the case for review?" ng-really-click="caseDetailsController.setCaseStatus('SENT_FOR_REVIEW')" ng-really-title="Change Status?" item="status">Send for Review</button>
                    <button has-permission="VIEW_IN_QC_BUTTON" ng-show="(caseDetailsController.case.caseStatus.status == 'SENT_FOR_REVIEW' || caseDetailsController.case.caseStatus.status == 'REPORT_TO_SALES') && caseDetailsController.case.inQCReview" ng-disabled="caseDetailsController.hasPermission('VIEW_SEND_FOR_REVIEW_BUTTON')" tooltip-placement="bottom" uib-tooltip="DDSupervior has picked up for review" class="btn btn-success  btn-sm btn-block" ng-really-message="Are you sure you want to remove case from QC" ng-really-click="caseDetailsController.toggleCaseInQCReviewValue(false)" ng-really-title="Change Status?" item="status">In QC</button>
                    <button has-permission="VIEW_IN_QC_BUTTON" ng-show="(caseDetailsController.case.caseStatus.status == 'SENT_FOR_REVIEW' || caseDetailsController.case.caseStatus.status == 'REPORT_TO_SALES') && !caseDetailsController.case.inQCReview" ng-disabled="caseDetailsController.hasPermission('VIEW_SEND_FOR_REVIEW_BUTTON')" class="btn btn-default-o  btn-sm btn-block" ng-really-message="Are you sure you want to move case to QC" ng-really-click="caseDetailsController.toggleCaseInQCReviewValue(true)" ng-really-title="Change Status?" item="status">In QC</button>
                    <button has-permission="VIEW_REPORT_TO_SALES_BUTTON" ng-show="caseDetailsController.case.caseStatus.status == 'SENT_FOR_REVIEW' && caseDetailsController.case.inQCReview" class="btn btn-yellow-o btn-sm btn-block" ng-really-message="Are you sure you want to change the status to  'Report To Sales' ?" ng-really-click="caseDetailsController.setCaseStatus('REPORT_TO_SALES')" ng-really-title="Change Status?" item="status">Report to Sales</button>
                    <button ng-show="caseDetailsController.isCurrentUserSalesRep" class="btn btn-primary-o  btn-sm btn-block" ng-really-message="Are sure you want to request for closing the case?" ng-really-click="caseDetailsController.setCaseStatus('REQUEST_FOR_CLOSING')" ng-really-title="Change Status?" item="status">Request for Closing</button>
                    <button ng-show="caseDetailsController.roleName == 'DDSupervisor' && caseDetailsController.case.caseStatus.status == 'REQUEST_FOR_CLOSING'" class="btn btn-info-o btn-sm btn-block" ng-really-message="Are you sure you want to close the case?" ng-really-click="caseDetailsController.setCaseStatus('CLOSED')" ng-really-title="Change Status?" item="status">Close</button>
                    <button has-permission="VIEW_READY_FOR_INVOICE_BUTTON" ng-show="caseDetailsController.case.caseStatus.status == 'REPORT_TO_SALES'" class="btn btn-info-o btn-sm btn-block" ng-really-message="Are you sure you want to close the case?" ng-really-click="caseDetailsController.hasCaseOpenTask()" ng-really-title="Change Status?" item="status">Ready For Invoice</button>
                    <button has-permission="VIEW_SEND_FOR_APRROVAL_BUTTON" type="button" ng-disabled="caseDetailsController.case.reports.length == 0 ? true : saveCaseForm.$invalid " ng-hide="caseDetailsController.isCaseSentForApprovalOrNFCApprovedOrApproved" class="btn btn-success-o btn-sm btn-block"ng-really-message="Are you sure you want to send the case for Approval ?" ng-really-click="caseDetailsController.sendCaseForApproval(caseDetailsController.case)" ng-really-title="Change Status?" item="status">Send for Approval</button>
                </div>
        </div>
    </div>-->

    <div class="incomplete-inner" ng-if="caseDetailsController.isCurrentUserSalesRep && (saveCaseForm.$invalid || caseDetailsController.case.reports.length == 0) ">
        <div class="top-heading incomplete-section-text" ng-show="(saveCaseForm.$invalid || caseDetailsController.case.reports.length == 0) && caseDetailsController.isCurrentUserSalesRep  ">Incomplete Information</div>
        <div class="incomplete-list" ng-if="caseDetailsController.isCurrentUserSalesRep && (saveCaseForm.$invalid || caseDetailsController.case.reports.length == 0)">
            <ul>
                <li ng-if="saveCaseForm.nick_name.$invalid" class="incomplete-section-text"><span><strong>Case Info</strong></span></li>
                <li ng-if="saveCaseForm.nick_name.$invalid"><a href="#nickname" class="incomplete-section-text">Nickname</a></li>

                <li class="incomplete-section-text" ng-hide="caseDetailsController.isCaseSentForApprovalOrNFCApprovedOrApproved && saveCaseForm.why_pro_bono.$valid && saveCaseForm.state_of_employment.$valid && saveCaseForm.state_of_residence.$valid"><span><strong> Reports </strong></span></li>
                <li ng-if="caseDetailsController.case.reports.length == 0"><a href="#report_section" class="incomplete-section-text"> no reports added </a></li>
                <li ng-repeat="reportType in caseDetailsController.case.reports track by $index" ng-if="saveCaseForm['report_type_' + $index].$invalid"><a href="#report_type_{{$index}}" class="incomplete-section-text">Report Type</a></li>
                <li ng-repeat="reportType in caseDetailsController.case.reports track by $index" ng-if="saveCaseForm['report_country_' + $index].$invalid"><a href="#report_country_{{$index}}" class="incomplete-section-text">Report Country</a></li>
                <li ng-repeat="reportType in caseDetailsController.case.reports track by $index" ng-if="saveCaseForm['other_report_name_' + $index].$invalid"><a href="#other_report_name_{{$index}}" class="incomplete-section-text">Report Name</a></li>
                <li ng-if="saveCaseForm.report_country_state.$invalid"><a href="#report_country_state" class="incomplete-section-text">Report State </a></li>
                <li ng-if="saveCaseForm.subject_name.$invalid"><a href="#subject_name" class="incomplete-section-text">Subject Name</a></li>
                <li ng-if="saveCaseForm.subject_type.$invalid"><a href="#subject_type" class="incomplete-section-text">Subject Type</a></li>
                <li ng-repeat="currentPrincipal in caseDetailsController.case.principalNames track by $index" ng-if="saveCaseForm['principal_name_'+ $index].$invalid"><a href="#principal_name_{{index}}" class="incomplete-section-text">Principal Name</a></li>
                <li ng-if="caseDetailsController.isInvalidActualRetail"><a href="#actual_retail" class="incomplete-section-text">Actual Retail</a></li>
                <li ng-if="saveCaseForm.why_pro_bono.$invalid"><a href="#why_pro_bono" class="incomplete-section-text">Why Pro-Bono/Gratis</a></li>
                <li ng-if="saveCaseForm.state_of_employment.$invalid"><a href="#state_of_employment" class="incomplete-section-text">State of Employment</a></li>
                <li ng-if="saveCaseForm.state_of_residence.$invalid"><a href="#state_of_residence" class="incomplete-section-text">State of Residence</a></li>
                
                <li ng-if="caseDetailsController.case.isNFCCase && saveCaseForm.nfc_budget.$invalid" class="incomplete-section-text"><span><strong>NFC Info</strong></span></li>
                <li ng-if="saveCaseForm.nfc_due_date.$invalid"><a href="#nfc_due_date" class="incomplete-section-text">NFC Due Date</a></li>
                <li ng-if="saveCaseForm.nfc_budget.$invalid"><a href="#nfc_budget" class="incomplete-section-text">NFC Budget</a></li>
                <li ng-if="saveCaseForm.nfc_report_date.$invalid"><a href="#nfc_report_date" class="incomplete-section-text">NFC Report Received Date</a></li>
                <li ng-if="saveCaseForm.nfc_invoice_date.$invalid"><a href="#nfc_invoice_date" class="incomplete-section-text">NFC Invoice Received Date</a></li>
            </ul>
        </div>
    </div>

</div>