﻿<div ng-controller="CaseTaskController as caseTaskController" ng-init="caseTaskController.init()">
<div class="am-content">
    <div ng-controller="CaseHeaderController as caseHeaderController" class="no-padding ">
        <div ng-include src="'/webapp/modules/core/views/case-header.view.html'"></div>
        <div ng-include src="'/webapp/modules/core/views/case-header-navigationbar.view.html'"></div>
    </div>
    <div class="main-content" ng-hide="!caseTaskController.hasPermission('CAN_VIEW_OWN_TASKS') || caseTaskController.case.isNFCCase">
        <div class="panel panel-default">
            <div class="panel-heading notification-heading">
                <div class="row">
                    <div class="col-md-6">
                        <div class="serach-container hidden-sm">
                            <div class="input-group search-box-small">
                                <span class="input-group-btn">
                                    <button class="btn search-btn" ng-click="caseTaskController.searchTasks(searchQuery)" ng-disabled="searchQuery == undefined || searchQuery == ''"><img src="/Assets/icons/search.svg" class="svg-addon"></button>
                                </span>
                                <input type="text" placeholder="Search Tasks" autocomplete="off" class="form-control" ng-model="searchQuery" ng-change="(searchQuery == undefined || searchQuery == '') && caseTaskController.isTaskSearchActive ? caseTaskController.resetSearchResult() : null" ng-keyup="$event.keyCode == 13 ? caseTaskController.searchTasks(searchQuery) : null">
                                <span class="input-group-btn" ng-show="searchQuery != undefined && searchQuery != ''">
                                    <button class="btn search-btn search-reset" ng-click="searchQuery=''; caseTaskController.isTaskSearchActive ? caseTaskController.resetSearchResult() : null"><i class="fa fa-times"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span class="btn-group pull-right">
                            <button ng-if="caseTaskController.isCompletedTaskHidden == false" ng-click="caseTaskController.isCompletedTaskHidden=true; caseTaskController.isTaskSearchActive ? caseTaskController.getTasksByKeyword(0) : caseTaskController.fetchAndStoreTasks(0)" class="btn btn-theme-gray">Hide Completed</button>
                            <button ng-if="caseTaskController.isCompletedTaskHidden == true" ng-click="caseTaskController.isCompletedTaskHidden=false; caseTaskController.isTaskSearchActive ? caseTaskController.getTasksByKeyword(0) :caseTaskController.fetchAndStoreTasks(0)" class="btn btn-theme-gray">Show All</button>
                            <button ng-if="caseTaskController.hasPermissionToCreate" ng-click="caseTaskController.openAddTaskModal()" class="btn btn-theme-yellow" has-permission="CAN_CREATE_TASK">New Task</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr ng-if="caseTaskController.allTasks.length > 0">                                                     
                                <th width="140">Status</th>                               
                                <th>Priority</th>   
                                <th width="130">Due</th> 
                                <th width="200">Task</th>     
                                <th width="200">Description</th>                         
                                <th width="250">Assigned To</th>
                                <th width="200">Complete</th>
                                <th width="100"></th>

                            </tr>
                            <tr ng-if="caseTaskController.isTaskSearchActive && caseTaskController.allTasks.length == 0">
                                <th> No result found!</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="task in caseTaskController.allTasks">                                                               
                                <td class="status-btn">
                                    <div class="dropdown">                                      
                                        <button ng-if="task.status == 0" data-toggle="dropdown" class="btn btn-gray btn-xs">NOT STARTED <span class="caret"></span></button>
                                        <button ng-if="task.status == 1" data-toggle="dropdown" class="btn btn-warning btn-xs">IN PROGRESS <span class="caret"></span></button>
                                        <button ng-if="task.status == 2" data-toggle="dropdown" class="btn btn-success btn-xs">COMPLETED <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li ng-click="caseTaskController.updateTaskStatus(task, 0)"><a href="#">NOT STARTED</a></li>
                                            <li ng-click="caseTaskController.updateTaskStatus(task, 1)"><a href="#">IN PROGRESS</a></li>
                                            <li ng-click="caseTaskController.updateTaskStatus(task, 2)"><a href="#">COMPLETED</a></li>
                                        </ul>
                                    </div>                                   
                                </td>
                                <td ng-if="task.priority == 0">Regular</td>
                                <td ng-if="task.priority == 1">Low</td>
                                <td ng-if="task.priority == 2" class="text-danger">High</td>
                                <td>{{task.dueDate | date}}</td>
                                <td><a href="#" ng-click="caseTaskController.goToTaskComments(task)" tooltip-placement="top" uib-tooltip="{{task.title}}" tooltip-enable="{{task.title.length > 20}}">{{task.title.length > 20 ? task.title.slice(0,16)+'...' : task.title}}</a></td>                                                                                            
                                <td><span tooltip-placement="top" uib-tooltip="{{task.description|htmlToPlaintext}}" tooltip-enable="{{task.description.length > 60}}">{{task.description.length > 60 ?((task.description.slice(0,56)+'...') | htmlToPlaintext ): task.description|htmlToPlaintext}}</span></td>                               
                                <td><strong>{{task.assignedToUserDetails.firstName.charAt(0)}}{{task.assignedToUserDetails.lastName}}</strong></td>
                                <td ng-show="task.completionDate != null">{{task.completionDate|date}}</td>
                                <td ng-hide="task.completionDate != null"></td>
                                <td>
                                    <div class="input-group-btn" has-permission="CAN_DELETE_A_TASK">
                                        <button tooltip-placement="bottom" uib-tooltip="Delete" class="btn btn-danger pull-right delete-sm btn-square"  ng-really-message="Are you sure you want to delete this task?" ng-really-click="caseTaskController.deleteTask(task.taskId)"
                                                ng-really-title="Delete Task" item="task" ng-if="caseTaskController.canUserEditTask || caseTaskController.selectedtask.createdBy == caseTaskController.currentUserId"><i class="fa fa-times"></i></button>
                                    </div>                           
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="control-footer text-right">
                    
                </div>
            </div>
            <div class="pagination-container" ng-if="caseTaskController.totalNumberOfTasks > 0">
                <div class="text-center">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group" role="group">
                            <button ng-hide="caseTaskController.pageIndex == 0" ng-click="caseTaskController.isTaskSearchActive ? caseTaskController.getTasksByKeyword(caseTaskController.pageIndex - 1) : caseTaskController.hasPermission('CAN_VIEW_ALL_TASKS') ? caseTaskController.fetchAndStoreTasks(caseTaskController.pageIndex - 1) : caseTaskController.getMyTasksByCaseId(caseTaskController.pageIndex - 1)" type="button" class="btn btn-default">
                                <i class="fa fa-caret-left" aria-hidden="true"></i>
                            </button>
                            <button ng-repeat="page in caseTaskController.allTaskPages track by $index" type="button" ng-class="{active:caseTaskController.pageIndex == $index}" ng-click="caseTaskController.isTaskSearchActive ? caseTaskController.getTasksByKeyword($index) : caseTaskController.hasPermission('CAN_VIEW_ALL_TASKS') ? caseTaskController.fetchAndStoreTasks($index) : caseTaskController.getMyTasksByCaseId($index)"
                                    class="btn btn-default">
                                {{$index + 1}}
                            </button>
                            <button ng-hide="caseTaskController.pageIndex >= caseTaskController.allTaskPages.length - 1" type="button" ng-click="caseTaskController.isTaskSearchActive ? caseTaskController.getTasksByKeyword(caseTaskController.pageIndex + 1) : caseTaskController.hasPermission('CAN_VIEW_ALL_TASKS') ? caseTaskController.fetchAndStoreTasks(caseTaskController.pageIndex + 1) : caseTaskController.getMyTasksByCaseId(caseTaskController.pageIndex + 1)" class="btn btn-default">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
