<div ng-controller="CaseDiscussionController as caseDiscussionController" ng-init="caseDiscussionController.discussionMessagesInit()">
    <div class="am-content">
        <div class="page-head">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <div class="my-case-container">
                        <div class="back-link discussion-back-link case-icon"><a href=# ng-click="caseDiscussionController.goToPreviousUrl()"><span class="fa fa-caret-left"></span> BACK</a> </div>
                        <div class="my-case-inner back-padding">
                            <div class="row case-detail case-detail-main">
                                <div class="col-md-6">
                                    <div class="open-cases">
                                        <div class="case-title">
                                            <h3 ng-if="!caseDiscussionController.hasPermission('VIEW_DISCUSSION_REPORT')? true : caseDiscussionController.selectedDiscussion.isNotes == false"> Discussion</h3>
                                            <h3 ng-if="caseDiscussionController.hasPermission('VIEW_DISCUSSION_REPORT') && caseDiscussionController.selectedDiscussion.isNotes == true">Report</h3>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <form class="main-content" name="saveDiscussionMessageForm" novalidate ng-hide="caseDiscussionController.case.isNFCCase">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="panel panel-default">
                                <!-- START table-responsive-->

                                <div class="well comments-section" ng-class="{'participant_discussions' : caseDiscussionController.selectedDiscussion.participantIdList.length > 0}">
                                    <h4>
                                        <i class="fa fa-file-text-o discussion_notes" ng-show="caseDiscussionController.selectedDiscussion.isNotes"></i>
                                        <a href={{caseDiscussionController.url}}>{{caseDiscussionController.selectedDiscussion.title}}</a>
                                    </h4>
                                    <div ng-bind-html="caseDiscussionController.selectedDiscussion.message">
                                    </div>
                                    <div class="report-block" ng-show="caseDiscussionController.selectedDiscussion.discussionFiles.length>0">
                                        <div class="clearfix">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <table class="table table-hover table-condensed table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>File Name</th>
                                                                    <th class="text-center" width="20">Download</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="file in caseDiscussionController.selectedDiscussion.discussionFiles track by $index">
                                                                <td width="350" class="filename-pointer" ng-click="caseDiscussionController.selectedFileId = file.fileId; caseDiscussionController.fileName = file.fileName" ng-if="caseDiscussionController.selectedFileId != file.fileId">
                                                                    <span tooltip-placement="bottom" uib-tooltip="Click to edit">{{file.fileName}}</span>
                                                                    </td>
                                                                    <td ng-if="caseDiscussionController.selectedFileId == file.fileId">
                                                                        <div class="input-group">
                                                                            <input ng-model="caseDiscussionController.fileName" type="text" class="form-control file-rename" />
                                                                            <span class="input-group-btn file-rename-btn">
                                                                                <button class="btn btn-sm btn-theme-yellow" ng-click="caseDiscussionController.renameFile(file)"><i class="fa fa-check"></i></button>
                                                                                <button class="btn btn-sm btn-theme-gray" ng-click="caseDiscussionController.selectedFileId = null"><i class="fa fa-times"></i></button>
                                                                            </span>
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <a tooltip-placement="bottom" uib-tooltip="Download" href="#" ng-click="caseDiscussionController.downloadFile(file.fileId)"><i class="fa fa-download"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-control">
                                        <div class="message-date">
                                            {{caseDiscussionController.selectedDiscussion.creationDateTime|date:'medium'}}
                                        </div>
                                        <button ng-show="caseDiscussionController.selectedDiscussion.createdBy == caseDiscussionController.currentUser.id" class="btn btn-theme-yellow btn-xs" ng-click="caseDiscussionController.editDiscussion()">Edit</button>
                                        <button ng-if="caseDiscussionController.hasPermission('VIEW_MARK_AS_REPORT_BUTTON') && caseDiscussionController.selectedDiscussion.isNotes == false" class="btn btn-theme-yellow btn-xs" ng-click="caseDiscussionController.toggleDiscussionAsNote()">Mark as Report</button>
                                        <button ng-if="caseDiscussionController.hasPermission('VIEW_MARK_AS_REPORT_BUTTON') && caseDiscussionController.selectedDiscussion.isNotes == true" class="btn btn-theme-yellow btn-xs" ng-click="caseDiscussionController.toggleDiscussionAsNote()">Unmark as Report</button>
                                        <button ng-if="caseDiscussionController.hasPermission('VIEW_ARCHIVE_DISCUSSION_BUTTON')" class="btn btn-theme-yellow btn-xs" ng-really-click="caseDiscussionController.deleteSelectedDiscussion(caseDiscussionController.discussionAction['Archived'])" ng-really-message="Are you sure you want to archive this discussion?" ng-really-title="Archive Discussion">Archive</button>
                                    </div>
                                </div>
                                <!-- START table-responsive-->
                                <div class="well well-sm">
                                    <div class="chat-discussion">
                                        <div class="chat-message left">
                                            <img class="message-avatar" ng-src="{{caseDiscussionController.currentUser.profilePicUrl}}" alt="">
                                            <span class="message-author"> {{caseDiscussionController.currentUser.firstName+" "+caseDiscussionController.currentUser.lastName}} </span>                                        
                                            <div class="message">
                                            <div class="text-editor">
                                                <textarea name="new_message" ui-tinymce="caseDiscussionController.tinyMceOptions" ng-model="caseDiscussionController.newDiscussionMessage.message" size="50" autocomplete="off" ng-required="caseDiscussionController.newDiscussionMessage.files.length == 0"></textarea>
                                                <div class="row drop-box upload_box" ngf-drop="caseDiscussionController.uploadDiscussionMessageFiles($files,-1)"
                                                     ngf-drag-over-class="'dragover'" ngf-multiple="true"
                                                     ngf-pattern="*">
                                                    <div class="col-xs-12">
                                                        <div id="my-awesome-dropzone" class="dropzone" ngf-select="caseDiscussionController.uploadDiscussionMessageFiles($files,-1)" multiple="multiple">
                                                            <div class="dz-message">
                                                                <div class="row">
                                                                    <div class="col-md-2"><div class="icon"><span class="s7-cloud-upload"></span></div></div>
                                                                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                                                    <div class="col-md-10"><h2>Select or Drag and Drop files here</h2><span class="note"></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="error-msg" ng-show="caseDiscussionController.showValidationMessage&&saveDiscussionMessageForm['new_message'].$invalid&&caseDiscussionController.editDiscussionMessageId == 0">Please enter a message or upload a file before posting! </span>
                                                <div class="input-group" has-permission="VIEW_ALL_FILES">
                                                    <button type="button" class="btn btn-theme-yellow btn-sm parent-menu" ng-click="caseDiscussionController.openExistingCaseFilesModal(); caseDiscussionController.discussionMessageId = -1;">Add existing files</button>
                                                </div>
                                                <div class="report-block" ng-show="caseDiscussionController.newDiscussionMessage.files.length>0">
                                                    <div class="clearfix">
                                                        <label>Files</label>
                                                        <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                                                        <div class="form-group">
                                                            <table class="table table-bordered table-striped table-condensed">
                                                                <thead>
                                                                    <tr>
                                                                        <th>File Name</th>
                                                                        <th width="20">Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="file in caseDiscussionController.newDiscussionMessage.files">
                                                                        <td width="200">{{file.fileName}}</td>
                                                                        <td width="50">
                                                                            <button tooltip-placement="bottom" uib-tooltip="Delete" class="btn btn-theme-yellow btn-xs" ng-really-message="Are you sure you want to remove this file?" ng-really-click="caseDiscussionController.deleteDiscussionMessageAssociatedFile(file,-1)" ng-really-title="Delete File" item="file">
                                                                                <i class="fa fa-trash"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="msg-footer text-right">
                                                    <button class="btn btn-theme-yellow" ng-click="caseDiscussionController.saveDiscussionMessage()">
                                                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Post
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                       </div>

                                        <div class="chat-message left" ng-repeat="message in caseDiscussionController.allDiscussionMessages track by message.id">
                                            <img class="message-avatar" ng-src="{{message.createdByUser.profilePicUrl}}" alt="">
                                            <div class="message" ng-hide="message.id==caseDiscussionController.editDiscussionMessageId">
                                                <span class="message-author"> {{message.createdByUser.firstName+" "+message.createdByUser.lastName}} </span>
                                                <span ng-repeat="image in message.images" class="mb-15 inline-block pull-right">
                                                    <img src="Assets/img/image.png" class="pointer" tooltip-placement="bottom" uib-tooltip="{{image.imageName}} By: {{image.userName}}" ng-click="caseDiscussionController.downloadMessageFile(image.imageUrl)" />
                                                </span>
                                                <span class="message-content" ng-bind-html="message.message" ng-show="message.message.length > 0">
                                                </span>
                                                <!--<span ng-repeat="imageUrl in message.imageUrls" class="mb-15 inline-block">
                        <img ng-src="{{imageUrl}}" height="250" width="250" />
                        <img src="Assets/img/image.png" />
                    </span>-->
                                                <div class="report-block" ng-show="message.files.length>0">
                                                    <div class="clearfix">
                                                        <div class="">
                                                            <div class="row">
                                                                <div class="col-md-5">
                                                                    <table class="table table-hover table-condensed table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>File Name</th>
                                                                                <th class="text-center" width="20">Download</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="file in message.files track by $index">
                                                                                <td width="350" class="filename-pointer" ng-click="caseDiscussionController.selectedFileId = file.fileId; caseDiscussionController.fileName = file.fileName" ng-if="caseDiscussionController.selectedFileId != file.fileId">
                                                                                    <span tooltip-placement="bottom" uib-tooltip="Click to edit">{{file.fileName}}</span>
                                                                                </td>
                                                                                <td ng-if="caseDiscussionController.selectedFileId == file.fileId">
                                                                                    <div class="input-group">
                                                                                        <input ng-model="caseDiscussionController.fileName" type="text" class="form-control file-rename" />
                                                                                        <span class="input-group-btn file-rename-btn">
                                                                                            <button class="btn btn-sm btn-theme-yellow" ng-click="caseDiscussionController.renameFile(file)"><i class="fa fa-check"></i></button>
                                                                                            <button class="btn btn-sm btn-theme-gray" ng-click="caseDiscussionController.selectedFileId = null"><i class="fa fa-times"></i></button>
                                                                                        </span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <a tooltip-placement="bottom" uib-tooltip="Download" href="#" ng-click="caseDiscussionController.downloadFile(file.fileId)"><i class="fa fa-download"></i></a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="msg-bottom">
                                                    <span class="message-date">{{message.creationDateTime|date:'medium'}}- </span>
                                                    <div class="discussion-control">
                                                        <a ng-show="caseDiscussionController.currentUser.id==message.createdByUser.id" ng-disabled="caseDiscussionController.editDiscussionMessageId!=0" ng-click="caseDiscussionController.editDiscussionMessageId=message.id" class="pointer">Edit</a>
                                                        <a ng-really-click="caseDiscussionController.deleteDiscussionMessage(message)" ng-show="caseDiscussionController.currentUser.id==message.createdByUser.id" ng-really-message="Are you sure you want to archive this Message?" ng-really-title="Archive Message" class="pointer">Archive</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="message" ng-show="message.id==caseDiscussionController.editDiscussionMessageId">
                                                <span class="message-author"> {{message.createdByUser.firstName+" "+message.createdByUser.lastName}} </span>
                                                <div class="text-editor">
                                                    <textarea name="message_{{message.id}}" ui-tinymce="caseDiscussionController.tinyMceOptions" ng-model="message.message" size="50" autocomplete="off" ng-required="message.files.length== 0"></textarea>
                                                    <div class="row drop-box upload_box" ngf-drop="caseDiscussionController.uploadDiscussionMessageFiles($files,message.id)"
                                                         ngf-drag-over-class="'dragover'" ngf-multiple="true"
                                                         ngf-pattern="*">
                                                        <div class="col-xs-12">
                                                            <div id="my-awesome-dropzone" class="dropzone" ngf-select="caseDiscussionController.uploadDiscussionMessageFiles($files,message.id)" multiple="multiple">
                                                                <div class="dz-message">
                                                                    <div class="row">
                                                                        <div class="col-md-2"><div class="icon"><span class="s7-cloud-upload"></span></div></div>
                                                                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                                                        <div class="col-md-10"><h2>Select or Drag and Drop files here</h2><span class="note"></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="error-msg" ng-show="caseDiscussionController.showValidationMessage&&saveDiscussionMessageForm['message_'+message.id].$invalid">Please enter a message or upload a file before saving! </span>
                                                    <div class="input-group" has-permission="VIEW_ALL_FILES">
                                                        <button type="button" class="btn btn-theme-yellow btn-sm parent-menu" ng-click="caseDiscussionController.openExistingCaseFilesModal();caseDiscussionController.discussionMessageId = message.id;">Add existing files</button>
                                                    </div>
                                                      <div class="report-block" ng-show="message.files.length>0">
                                                        <div class="clearfix">
                                                            <label>Files</label>
                                                            <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                                                            <div class="">
                                                                <table class="table table-bordered table-striped table-condensed">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>File Name</th>
                                                                            <th width="20">Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="file in message.files track by $index">
                                                                            <td width="200">{{file.fileName}}</td>
                                                                            <td width="50">
                                                                                <button tooltip-placement="bottom" uib-tooltip="Delete" class="btn btn-theme-yellow btn-xs" ng-really-message="Are you sure you want to remove this file?" ng-really-click="caseDiscussionController.deleteDiscussionMessageAssociatedFile(file,message.id)" ng-really-title="Delete File" item="file">
                                                                                    <i class="fa fa-trash"></i>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="msg-bottom">
                                                        <span class="message-date">{{message.creationDateTime|date:'medium'}} </span>
                                                        <div class="discussion-control">
                                                            <button ng-if="caseDiscussionController.currentUser.id == message.createdBy" class="btn btn-theme-yellow btn-xs" ng-click="caseDiscussionController.saveEditedDiscussionMessage(message)">Save</button>
                                                            <button ng-if="caseDiscussionController.currentUser.id == message.createdBy" class="btn btn-theme-gray btn-xs" ng-click="caseDiscussionController.discardDiscussionMessageChanges()">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- New Message View-->
                                        <!--<div class="chat-message left">
                                            <img class="message-avatar" ng-src="{{caseDiscussionController.currentUser.profilePicUrl}}" alt="">
                                            <div class="message">
                                                <span class="message-author"> {{caseDiscussionController.currentUser.firstName+" "+caseDiscussionController.currentUser.lastName}} </span>
                                                <div class="text-editor">
                                                    <textarea name="new_message" ui-tinymce="caseDiscussionController.tinyMceOptions" ng-model="caseDiscussionController.newDiscussionMessage.message" size="50" autocomplete="off" ng-required="caseDiscussionController.newDiscussionMessage.files.length == 0"></textarea>
                                                    <div class="row drop-box upload_box" ngf-drop="caseDiscussionController.uploadDiscussionMessageFiles($files,-1)"
                                                         ngf-drag-over-class="'dragover'" ngf-multiple="true"
                                                         ngf-pattern="*">
                                                        <div class="col-xs-12">
                                                            <div id="my-awesome-dropzone" class="dropzone" ngf-select="caseDiscussionController.uploadDiscussionMessageFiles($files,-1)" multiple="multiple">
                                                                <div class="dz-message">
                                                                    <div class="row">
                                                                        <div class="col-md-2"><div class="icon"><span class="s7-cloud-upload"></span></div></div>
                                                                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                                                        <div class="col-md-10"><h2>Select or Drag and Drop files here</h2><span class="note"></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="error-msg" ng-show="caseDiscussionController.showValidationMessage&&saveDiscussionMessageForm['new_message'].$invalid&&caseDiscussionController.editDiscussionMessageId == 0">Please enter a message or upload a file before posting! </span>
                                                    <div class="input-group" has-permission="VIEW_ALL_FILES">
                                                        <button type="button" class="btn btn-theme-yellow btn-sm parent-menu" ng-click="caseDiscussionController.openExistingCaseFilesModal(); caseDiscussionController.discussionMessageId = -1;">Add existing files</button>
                                                    </div>
                                                        <div class="report-block" ng-show="caseDiscussionController.newDiscussionMessage.files.length>0">
                                                        <div class="clearfix">
                                                            <label>Files</label>
                                                            <button class="btn btn-tips btn-xs" data-container="body" data-toggle="popover" data-placement="auto right" data-trigger="hover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " data-original-title="" title="">?</button>
                                                            <div class="form-group">
                                                                <table class="table table-bordered table-striped table-condensed">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>File Name</th>
                                                                            <th width="20">Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="file in caseDiscussionController.newDiscussionMessage.files track by $index">
                                                                            <td width="200">{{file.fileName}}</td>
                                                                            <td width="50">
                                                                                <button tooltip-placement="bottom" uib-tooltip="Delete" class="btn btn-theme-yellow btn-xs" ng-really-message="Are you sure you want to remove this file?" ng-really-click="caseDiscussionController.deleteDiscussionMessageAssociatedFile(file,-1)" ng-really-title="Delete File" item="file">
                                                                                    <i class="fa fa-trash"></i>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="msg-footer text-right">
                                                        <button class="btn btn-theme-yellow" ng-click="caseDiscussionController.saveDiscussionMessage()">
                                                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Post
                                                        </button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <!-- END table-responsive-->

                            </div>
                                            </div>
                                        </div>
                </div>           
        </form>
    </div>
</div>
