﻿<div ng-controller="CaseController as caseController">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="caseController.closeModal()">&times;</span></button>
        <h3 class="modal-title">Edit Case ({{caseController.case.nickName}})</h3>
    </div>
    <div class="modal-main-content">
        
        <div class="modal-body form" ng-form="saveCaseForm" id="edit_case_errors_msg">
             <div class="row" ng-show="caseController.showValidationMessage && saveCaseForm.$invalid">
                    <div class="form-group col-md-12 edit-case-errors">
                        <span class="error-msg">Please fix the errors on this page before continuing.</span>
                    </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6" id="client_name_field">
                    <label>Client Name</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Client Name" popover-trigger="outsideClick">?</a>
                    <ui-select ng-model="caseController.case.client" name="client_name" reset-search-input="true" on-select="caseController.onClientSelected($item)" required="true" class="form-control">
                        <ui-select-match placeholder="Select existing client">
                            <span ng-bind="$select.selected.clientName"></span>
                            <a class="btn btn-xs btn-link pull-right" ng-click="caseController.clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                        </ui-select-match>
                        <ui-select-choices repeat="client in (caseController.clients | filter: { clientName: $select.search }) track by client.clientId" refresh-delay="0">
                            <span ng-bind="client.clientName"></span>
                        </ui-select-choices>
                    </ui-select>
                    <span class="error-msg" ng-show="saveCaseForm.client_name.$invalid && caseController.showValidationMessage">Please select a client name from list</span>
                </div>

                <div class="form-group col-md-6">
                    <label>Nickname</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Nickname" popover-trigger="outsideClick">?</a>
                    <input ng-model="caseController.case.nickName" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>NFC Case</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="NFC Case" popover-trigger="outsideClick">?</a>
                    <div class="btn-container">
                        <div class="kl-radio inline">
                            <label>
                                <input name="nfc_case" type="radio" ng-value="true" ng-model="caseController.case.isNFCCase" ng-click="caseController.onNFCSelected()" />
                                <span class="radio-btn">Yes</span>
                            </label>
                        </div>
                        <div class="kl-radio inline">
                            <label>
                                <input type="radio" ng-value="false" ng-model="caseController.case.isNFCCase" />
                                <span class="radio-btn">No</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Speed</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Speed" popover-trigger="outsideClick">?</a>
                    <div class="btn-container">
                        <div class="kl-radio inline">
                            <label>
                                <input name="speed" type="radio" ng-value="0" ng-model="caseController.case.speed" />
                                <span class="radio-btn">Normal</span>
                            </label>
                        </div>
                        <div class="kl-radio inline">
                            <label>
                                <input type="radio" ng-value="1" ng-model="caseController.case.speed" />
                                <span class="radio-btn">Rush</span>
                            </label>
                        </div>
                        <div class="kl-radio inline">
                            <label>
                                <input name="rush" type="radio" ng-value="2" ng-model="caseController.case.speed" />
                                <span class="radio-btn">Super Rush</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Client PO</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Client PO" popover-trigger="outsideClick">?</a>
                    <input ng-model="caseController.case.clientPO" class="form-control">
                </div>

                <div class="form-group col-md-6">
                    <label>Contact Name</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Contact Name" popover-trigger="outsideClick">?</a>
                    <ui-select ng-model="caseController.case.clientContactUser" name="contact_name" on-select="caseController.onClientContactNameSelected($item)" reset-search-input="true" tagging required="true" class="form-control">
                        <ui-select-match placeholder="Select contact name">
                            <span ng-bind="caseController.case.clientContactUser.contactName"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="contact in (caseController.case.client.clientContactUsers | filter: { contactName: $select.search }) track by contact.id" refresh-delay="0">
                            <span ng-bind="contact.contactName"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Account Code</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Account Code" popover-trigger="outsideClick">?</a>
                    <input ng-disabled="true" ng-model="caseController.case.clientContactUser.accountCode" class="form-control">
                </div>

                <!--<div class="form-group col-md-6">
                    <label>Business Unit</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Client Name" popover-trigger="outsideClick">?</a>
                    <input ng-disabled="true" ng-model="caseController.case.clientContactUser.businessUnit" class="form-control">
                </div>-->
                <div class="form-group col-md-6">
                    <label>Position Held by Contact</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Position Held by Contact" popover-trigger="outsideClick">?</a>
                    <input ng-disabled="true" ng-model="caseController.case.clientContactUser.positionHeldbyContact" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Phone Number</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Phone Number" popover-trigger="outsideClick">?</a>
                    <input ng-disabled="true" ng-model="caseController.case.clientContactUser.phoneNumber" class="form-control">
                </div>

                <div class="form-group col-md-6">
                    <label>Email Address</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Email Address" popover-trigger="outsideClick">?</a>
                    <input ng-disabled="true" ng-model="caseController.case.clientContactUser.emailAddress" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Country </label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Country" popover-trigger="outsideClick">?</a>
                    <ui-select ng-disabled="true" ng-model="caseController.country" on-select="caseController.onCountrySelected($item)" class="form-control" tagging>
                        <ui-select-match>
                            <span>{{caseController.country.countryName}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="country in (caseController.countries | filter: { countryName: $select.search }) track by country.countryId" refresh-delay="0">
                            <span>{{country.countryName}} </span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group col-md-6">
                    <label>State</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="State" popover-trigger="outsideClick">?</a>
                    <ui-select ng-disabled="true" ng-model="caseController.state" on-select="caseController.onStateSelected($item)" class="form-control">
                        <ui-select-match>
                            <span>{{caseController.state.stateName}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="state in (caseController.states | filter: { stateName: $select.search }) track by state.stateId" refresh-delay="0">
                            <span>{{state.stateName}} </span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>City</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="City" popover-trigger="outsideClick">?</a>
                    <input ng-disabled="true" ng-model="caseController.case.clientContactUser.city" class="form-control">
                </div>

                <div class="form-group col-md-6">
                    <label>Street</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Street" popover-trigger="outsideClick">?</a>
                    <input ng-disabled="true" ng-model="caseController.case.clientContactUser.street" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Zip Code</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Zip Code" popover-trigger="outsideClick">?</a>
                    <input ng-disabled="true" ng-model="caseController.case.clientContactUser.zipCode" class="form-control">
                </div>

                <div class="form-group col-md-6">
                    <label>Industry </label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Industry" popover-trigger="outsideClick">?</a>
                    <ui-select ng-disabled="true" ng-model="caseController.industry" on-select="caseController.onIndustrySelected($item)" class="form-control">
                        <ui-select-match>
                            <span>{{caseController.industry.name}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="industry in (caseController.industries | filter: { name: $select.search }) track by industry.id" refresh-delay="0">
                            <span>{{industry.name}} </span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Industry Sub Category</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Industry Sub Category" popover-trigger="outsideClick">?</a>
                    <ui-select ng-disabled="true" ng-model="caseController.industrySubCategory" on-select="caseController.onSubCategorySelected($item)" class="form-control">
                        <ui-select-match>
                            <span>{{caseController.industrySubCategory.name}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="industrysubcategory in (caseController.industrySubCategories | filter: { name: $select.search }) track by industrysubcategory.id" refresh-delay="0">
                            <span>{{industrysubcategory.name}} </span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group col-md-6">
                    <label>Sales Rep</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Sales Rep" popover-trigger="outsideClick">?</a>
                    <input ng-disabled="true" ng-model="caseController.case.client.salesRepresentativeName" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Sales Rep Email</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Sales Rep Email" popover-trigger="outsideClick">?</a>
                    <input ng-disabled="true" ng-model="caseController.case.client.salesRepresentativeEmail" class="form-control">
                </div>

                <div class="form-group col-md-6">
                    <label>Status</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Status" popover-trigger="outsideClick">?</a>
                    <ui-select ng-model="caseController.case.subStatus" on-select="caseController.onSubStatusSelected($item)" class="form-control">
                        <ui-select-match placeholder="Select status ...">
                            <span>{{caseController.case.subStatus.name}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="subStatus in (caseController.subStatusList | filter: { name: $select.search }) track by subStatus.id" refresh-delay="0">
                            <span>{{subStatus.name}} </span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="report-block">
                <div class="form-group clearfix">
                    <label>Report</label> <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Report" popover-trigger="outsideClick">?</a>
                    <div class="pull-right">
                        <button class="btn btn-theme-yellow btn-xs" ng-click="caseController.addNewReport()"><i class="fa fa-plus"></i> Add New Report</button>
                    </div>
                </div>
                <div class="well well-sm" ng-show="caseController.isNewReportAdded">
                    <div class="row">
                        <ul class="report-list">
                            <li class="form-group clearfix" ng-repeat="reportType in caseController.case.reports track by $index">
                                <div class="clearfix">
                                    <div class="col-md-8">
                                        <ui-select name="report_type_{{$index}}" ng-model="caseController.case.reports[$index]" tagging reset-search-input="false" search-enabled="false" on-select="caseController.onReportSelected($item, $index)" required="true" class="form-control">
                                            <ui-select-match placeholder="---Select Report Type---">
                                                <span ng-bind="$select.selected.reportType"></span>
                                                <a class="btn btn-xs btn-link pull-right" ng-click="caseController.clearSelectedReport($event, $select, $index)"><i class="glyphicon glyphicon-remove"></i></a>
                                            </ui-select-match>
                                            <ui-select-choices repeat="report in (caseController.reports | filter: { reportType: $select.search }) track by report.reportId" refresh-delay="0">
                                                <span ng-bind="report.reportType"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="error-msg" ng-show="saveCaseForm['report_type_' + $index].$invalid && caseController.showValidationMessage">Report type is required</span>
                                    </div>
                                    <div class="col-md-4">
                                        <ui-select name="report_country_{{$index}}" ng-model="caseController.case.reportsCountries[$index]" tagging reset-search-input="false" search-enabled="true" on-select="caseController.onReportCountrySelected($item, $index)" required="true" class="form-control">
                                            <ui-select-match placeholder="---Select Country---">
                                                <span ng-bind="$select.selected.countryName"></span>
                                                <a class="btn btn-xs btn-link pull-right" ng-click="caseController.clearSelectedReportCountry($event, $select, $index)"><i class="glyphicon glyphicon-remove"></i></a>
                                            </ui-select-match>
                                            <ui-select-choices repeat="country in (caseController.reportCountries | filter: { countryName: $select.search }) track by country.countryId" refresh-delay="0">
                                                <span ng-bind="country.countryName"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="error-msg" ng-show="saveCaseForm['report_country_' + $index].$invalid && caseController.showValidationMessage">Country name is required</span>
                                    </div>
                                    <div class="delete-report">

                                        <button class="btn btn-danger pull-right delete-sm btn-square" tooltip-placement="bottom" uib-tooltip="Delete" ng-really-message="Are you sure you want to remove this report?" ng-really-click="caseController.deleteAddedReport($index)" ng-really-title="Delete Report" item="$index"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="caseController.case.reports[$index].isOtherReportType">
                                    <br />
                                    <div class="col-md-8">
                                        <label>Please Enter Report Name</label>
                                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Please Enter Report Name" popover-trigger="outsideClick">?</a>
                                        <input name="other_report_name" type="text" ng-model="caseController.case.otherReportTypes[$index]" class="form-control" ng-required="caseController.case.reports[$index].isOtherReportType">
                                        <span class="error-msg" ng-show="saveCaseForm.other_report_name.$invalid && caseController.showValidationMessage">Report name is required</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div ng-show="caseController.isPrimary">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Name of the Subject</label>
                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Name of the Subject" popover-trigger="outsideClick">?</a>
                        <input name="subject_name" type="text" ng-model="caseController.case.reportSubject" placeholder="please enter name of Subject " class="form-control" required>
                        <span class="error-msg" ng-show="saveCaseForm.subject_name.$invalid && caseController.showValidationMessage">Subject name is required</span>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Subject Type</label>
                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Subject Type" popover-trigger="outsideClick">?</a>
                        <div class="btn-container">
                            <div class="kl-radio inline">
                                <label>
                                    <input name="subject_type" type="radio" ng-value="0" ng-model="caseController.case.subjectType" ng-required="!caseController.case.subjectType" />
                                    <span class="radio-btn">Company</span>
                                </label>
                            </div>
                            <div class="kl-radio inline">
                                <label>
                                    <input type="radio" value="1" ng-model="caseController.case.subjectType" ng-required="!caseController.case.subjectType" />
                                    <span class="radio-btn">Individual</span>
                                </label>
                            </div>
                            <div class="kl-radio inline">
                                <label>
                                    <input type="radio" value="2" ng-model="caseController.case.subjectType" ng-required="!caseController.case.subjectType" />
                                    <span class="radio-btn">Other</span>
                                </label>
                            </div>
                            <span class="error-msg" ng-show="saveCaseForm.subject_type.$invalid && caseController.showValidationMessage">Subject type is required</span>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="caseController.case.subjectType == 0">
                    <div class="form-group col-md-6">
                        <label>Client Requested Specific Principal</label>
                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Client Requested Specific Principal" popover-trigger="outsideClick">?</a>
                        <div class="btn-container">
                            <div class="kl-radio inline">
                                <label>
                                    <input name="specific_principal" type="radio" ng-value="true" ng-model="caseController.case.isSpecificPrincipal" />
                                    <span class="radio-btn">Yes</span>
                                </label>
                            </div>
                            <div class="kl-radio inline">
                                <label>
                                    <input name="specific_principal" type="radio" ng-value="false" ng-model="caseController.case.isSpecificPrincipal" />
                                    <span class="radio-btn">No</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="clearfix">
                            <div class="pull-left" ng-show="caseController.case.isSpecificPrincipal">
                                <button class="btn btn-theme-yellow btn-xs" ng-click="caseController.addNewPrincipal()"><i class="fa fa-plus"></i> Add New Principal</button>
                            </div>
                        </div>
                        <br />
                        <div ng-repeat="currentPrincipal in caseController.case.principalNames track by $index" ng-if="caseController.case.isSpecificPrincipal" class="xs-mb-10">
                            <div class="input-group ">
                                <input name="principal_name_{{$index}}" type="text" ng-model="caseController.case.principalNames[$index].principalName" placeholder="please enter Principal Name" class="form-control" ng-required="caseController.case.isSpecificPrincipal">

                                <div class="input-group-btn">
                                    <button tooltip-placement="bottom" uib-tooltip="Delete" class="btn  btn-danger pull-right" ng-click="caseController.clearSelectedPrincipal($index)"><i class="glyphicon glyphicon-remove"></i></button>
                                </div>
                            </div>
                            <span class="error-msg" ng-show="saveCaseForm['principal_name_' + $index].$invalid && caseController.showValidationMessage">Principal name is required</span>
                        </div>
                    </div>
                </div>

                <div class="=row">
                    <div class="form-group col-md-6">
                        <label>References</label>
                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="References" popover-trigger="outsideClick">?</a>
                        <div class="btn-container">
                            <div class="kl-radio inline">
                                <label>
                                    <input name="references" type="radio" ng-value="true" ng-model="caseController.case.references" />
                                    <span class="radio-btn">Yes</span>
                                </label>
                            </div>
                            <div class="kl-radio inline">
                                <label>
                                    <input type="radio" ng-value="false" ng-model="caseController.case.references" />
                                    <span class="radio-btn">No</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Credit Report</label>
                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Credit Report" popover-trigger="outsideClick">?</a>
                        <div class="btn-container">
                            <div class="kl-radio inline">
                                <label>
                                    <input name="credit_report" type="radio" ng-value="true" ng-model="caseController.case.creditReport" />
                                    <span class="radio-btn">Yes</span>
                                </label>
                            </div>
                            <div class="kl-radio inline">
                                <label>
                                    <input type="radio" ng-value="false" ng-model="caseController.case.creditReport" />
                                    <span class="radio-btn">No</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="=row">
                    <div class="form-group col-md-6">
                        <label>Character Reputation</label>
                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Character Reputation" popover-trigger="outsideClick">?</a>
                        <div class="btn-container">
                            <div class="kl-radio inline">
                                <label>
                                    <input name="reputation" type="radio" ng-value="true" ng-model="caseController.case.reputation" />
                                    <span class="radio-btn">Yes</span>
                                </label>
                            </div>
                            <div class="kl-radio inline">
                                <label>
                                    <input type="radio" ng-value="false" ng-model="caseController.case.reputation" />
                                    <span class="radio-btn">No</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Client Provided Attachment</label>
                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Client Provided Attachment" popover-trigger="outsideClick">?</a>
                        <div class="btn-container">
                            <div class="kl-radio inline">
                                <label>
                                    <input name="attachment" type="radio" ng-value="true" ng-model="caseController.case.clientProvidedAttachments" />
                                    <span class="radio-btn">Yes</span>
                                </label>
                            </div>
                            <div class="kl-radio inline">
                                <label>
                                    <input name="attachment" type="radio" ng-value="false" ng-model="caseController.case.clientProvidedAttachments" />
                                    <span class="radio-btn">No</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Actual Retail (USD)</label>
                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Actual Retail (USD)" popover-trigger="outsideClick">?</a>
                        <input type="number" ng-model="caseController.case.actualRetail" ng-pattern="/^\d*[.]?\d*$/" placeholder="Please enter actual retail" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6" ng-if="caseController.isReportCountryUSA == true">
                        <label>FCRA Certification Email Received from Client</label>
                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="FCRA Certification Email Received from Client" popover-trigger="outsideClick">?</a>
                        <div class="btn-container">
                            <div class="kl-radio inline">
                                <label>
                                    <input type="radio" ng-value="true" ng-model="caseController.case.fcraCertificationEmailReceivedFromClient" />
                                    <span class="radio-btn">Yes</span>

                                </label>
                            </div>
                            <div class="kl-radio inline">
                                <label>
                                    <input type="radio" ng-value="false" ng-model="caseController.case.fcraCertificationEmailReceivedFromClient" />
                                    <span class="radio-btn">No</span>
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-md-6">
                        <label>Minimum Suggested Retail (USD)</label>
                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Minimum Suggested Retail (USD)" popover-trigger="outsideClick">?</a>
                        <input type="number" ng-model="caseController.case.minimumSuggestedRetail" ng-pattern="/^\d*[.]?\d*$/" placeholder="Please enter minimum suggested retail" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label> Discount </label>
                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Discount" popover-trigger="outsideClick">?</a>
                        <ui-select ng-model="caseController.case.selectedDiscount" reset-search-input="false" required="true" class="form-control">
                            <ui-select-match placeholder="---Select Discount---">
                                <span ng-bind="$select.selected.discountAmount"></span>
                                <a class="btn btn-xs btn-link pull-right" ng-click="caseController.clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                            </ui-select-match>
                            <ui-select-choices repeat="discount in (caseController.discountOptions | filter: { discountAmount: $select.search }) track by discount.discountId" refresh="caseController.refreshDiscounts($select)" refresh-delay="0">
                                <span ng-bind="discount.discountAmount"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Pro Bono/Gratis</label>
                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Pro Bono/Gratis" popover-trigger="outsideClick">?</a>
                        <div class="btn-container">
                            <div class="kl-radio inline">
                                <label>
                                    <input type="radio" ng-value="true" ng-model="caseController.case.isProBonoGratis" />
                                    <span class="radio-btn">Yes</span>
                                </label>
                            </div>
                            <div class="kl-radio inline">
                                <label>
                                    <input type="radio" ng-value="false" ng-model="caseController.case.isProBonoGratis" />
                                    <span class="radio-btn">No</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div ng-if="caseController.case.isProBonoGratis" class="form-group col-md-6">
                        <label>Why is it Pro Bono/Gratis</label>
                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Why is it Pro Bono/Gratis" popover-trigger="outsideClick">?</a>
                        <input name="why_pro_bono" type="text" ng-model="caseController.case.whyProBonoGratis" placeholder="please enter pro bono/gratis" class="form-control" ng-required="caseController.case.isProBonoGratis">
                        <span class="error-msg" ng-show="saveCaseForm.why_pro_bono.$invalid && caseController.showValidationMessage">Pro Bono/Gratis reason is required</span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Client Provided Info</label>
                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Client Provided Info" popover-trigger="outsideClick">?</a>
                        <textarea type="text" ng-model="caseController.case.clientProvidedInformation" rows="3" placeholder="Please enter client provided info" class="form-control"> </textarea>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Additional Sales Rep Notes</label>
                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Additional Sales Rep Notes" popover-trigger="outsideClick">?</a>
                        <textarea type="text" ng-model="caseController.case.additionalSalesRepNotes" rows="3" placeholder="Please enter additional sales repository notes" class="form-control"></textarea>
                    </div>
                </div>

                <div class="master-service" ng-show="caseController.isReportCountryUSA">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Master Services Agreement Received</label>
                            <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Master Services Agreement Received" popover-trigger="outsideClick">?</a>
                            <div class="btn-container">
                                <div class="kl-radio inline">
                                    <label>
                                        <input name="master_agreement" type="radio" ng-value="true" ng-model="caseController.case.agreementReceived" />
                                        <span class="radio-btn">Yes</span>
                                    </label>
                                </div>
                                <div class="kl-radio inline">
                                    <label>
                                        <input name="master_agreement" type="radio" ng-value="false" ng-model="caseController.case.agreementReceived" />
                                        <span class="radio-btn">No</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label>State Of Employement</label>
                            <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="State Of Employement" popover-trigger="outsideClick">?</a>
                            <ui-select ng-model="caseController.case.stateOfEmployment" on-select="caseController.onStateOfEmploymentSelected($item)" ng-required="caseController.isReportCountryUSA" class="form-control">
                                <ui-select-match placeholder="Select state ...">
                                    <span ng-bind="$select.selected.stateName"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="state in (caseController.countrySpecificStates | filter: { stateName: $select.search }) track by state.stateId" refresh-delay="0">
                                    <span ng-bind="state.stateName"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>State Of Residence</label>
                            <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="State Of Residence" popover-trigger="outsideClick">?</a>
                            <ui-select ng-model="caseController.case.stateOfResidence" on-select="caseController.onStateOfResidenceSelected($item)" ng-required="caseController.isReportCountryUSA" class="form-control">
                                <ui-select-match placeholder="Select state ...">
                                    <span ng-bind="$select.selected.stateName"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="state in (caseController.countrySpecificStates | filter: { stateName: $select.search }) track by state.stateId" refresh-delay="0">
                                    <span ng-bind="state.stateName"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Salary > = $75k</label>
                            <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Salary > = $75k" popover-trigger="outsideClick">?</a>
                            <div class="btn-container">
                                <div class="kl-radio inline">
                                    <label>
                                        <input name="salary_75" type="radio" ng-value="true" ng-model="caseController.case.salaryGreaterThan75k" />
                                        <span class="radio-btn">Yes</span>
                                    </label>
                                </div>
                                <div class="kl-radio inline">
                                    <label>
                                        <input name="salary_75" type="radio" ng-value="false" ng-model="caseController.case.salaryGreaterThan75k" />
                                        <span class="radio-btn">No</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6" ng-show="caseController.isReportCountryUSA">
                        <label>Consent Received</label>
                        <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Consent Received" popover-trigger="outsideClick">?</a>
                        <div class="btn-container">
                            <div class="kl-radio inline">
                                <label>
                                    <input name="consent_recd" type="radio" ng-value="true" ng-model="caseController.case.consentReceived" />
                                    <span class="radio-btn">Yes</span>

                                </label>
                            </div>
                            <div class="kl-radio inline">
                                <label>
                                    <input name="consent_recd" type="radio" ng-value="false" ng-model="caseController.case.consentReceived" />
                                    <span class="radio-btn">No</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row drop-box" ngf-drop="caseController.uploadFiles($files)"
                 ngf-drag-over-class="'dragover'" ngf-multiple="true"
                 ngf-pattern="*">
                <div class="col-xs-12">
                    <div id="my-awesome-dropzone" class="dropzone dz-clickable" ngf-select="caseController.uploadFiles($files)" multiple="multiple">
                        <div class="dz-message">
                            <div class="row">
                                <div class="col-md-2"><div class="icon"><span class="s7-cloud-upload"></span></div></div>
                                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                <div class="col-md-10"><h2>Select or Drag and Drop files here</h2><span class="note">(Selected files would be associated with the case.)</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="report-block" ng-show="caseController.showExistingCaseFiles">
                <div class="clearfix">
                    <label>Files</label>
                    <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Files" popover-trigger="outsideClick">?</a>
                    <div class="form-group">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th width="20"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="file in caseController.case.files">
                                    <td>{{file.fileName}}</td>
                                    <td>
                                        <button class="btn btn-danger pull-right delete-sm btn-square" tooltip-placement="bottom" uib-tooltip="Delete" ng-really-message="Are you sure you want to remove this file?" ng-really-click="caseController.deleteCaseAssociatedFile(file)" ng-really-title="Delete File" item="file"><i class="fa fa-times"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="caseController.closeModal()" class="btn btn-theme-gray md-close">Cancel</button>
                <button type="button" ng-click="caseController.saveCase()" class="btn btn-theme-yellow">Save Case</button>
            </div>
        </div>
    </div>
</div>
