﻿<div ng-controller="CaseDetailsController as caseDetailsController">
    <div class="modal-header case_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="caseDetailsController.closeModal()">&times;</span></button>
        <h3 class="modal-title">On Hold</h3>
    </div>
    <form class="modal-body form onhold-textarea" name="OnHoldReasonForm" novalidate>
        <div class="row">
            <div class="form-group col-md-12">
                <label>Reason For OnHold</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="Reason to put case on hold" popover-trigger="outsideClick">?</a>
                <textarea ng-model="caseDetailsController.onholdReasons" ng-class="{'form_error':OnHoldReasonForm.onHoldReasons.$invalid && OnHoldReasonForm.$submitted}" rows="2" name="onHoldReasons" placeholder="Please enter the reason for onhold" class="form-control" required></textarea>
                <span class="error-msg" ng-if="OnHoldReasonForm.onHoldReasons.$invalid && OnHoldReasonForm.$submitted">Please enter the reason for onhold</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="caseDetailsController.closeModal()" class="btn btn-theme-gray md-close">Cancel</button>
            <button type="submit" ng-click="caseDetailsController.toggleCaseFlags(OnHoldReasonForm.$valid,caseDetailsController.CaseFlag.On_Hold,true)" class="btn btn-theme-yellow">Save</button>
        </div>
    </form>

</div>

