﻿<div ng-controller="CaseDetailsController as caseDetailsController">
        <div class="modal-header case_modal_header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="caseDetailsController.closeReportPreviewModal()">&times;</span></button>
            <h3 class="modal-title">{{caseDetailsController.reportDetail.reportType}}</h3>
        </div>
    <div class="modal-body">
        <p><pre>{{caseDetailsController.reportDetail.description}}</pre>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="caseDetailsController.closeReportPreviewModal()" class="btn btn-theme-gray md-close">Close</button>
     </div>
</div>
