﻿<div ng-controller="CaseController as caseController">
    <div class="modal-header case_modal_header">
        <h3 class="modal-title">Request Case</h3>
    </div>
    <form class="modal-body form" name="saveCaseForm" novalidate>
        <div class="row">
            <div class="form-group col-md-12">
                <label>Case Name</label>
                <a class="btn btn-tips btn-xs" popover-placement="bottom-left" uib-popover="This is the full legal name of the entity or individual which is the Subject of the main report. This name may be adjusted by DDSupervisors during the investigation if the legal registered name is found to differ from what has been provided by the client" popover-trigger="outsideClick">?</a>
                <input ng-class="{'form_error':saveCaseForm.matterName.$invalid && saveCaseForm.$submitted}" ng-model="caseController.case.matterName" name="matterName" placeholder="please enter Matter Name" class="form-control" required>
                <span class="error-msg" ng-show="saveCaseForm.matterName.$invalid && saveCaseForm.$submitted">Please enter Case Name</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="caseController.closeModal()" class="btn btn-theme-gray md-close">Cancel</button>
            <button type="submit" ng-click="caseController.saveCaseOnAddCase(saveCaseForm.$valid)" class="btn btn-theme-yellow">Send</button>
        </div>
    </form>

</div>
