﻿<div class="page-head">
    <div class="row">
        <div class="col-md-8 col-sm-9">
            <div class="my-case-container">
                <div class="back-link case-icon"><a href="/case-management/cases"><span class="fa fa-caret-left"></span> BACK</a> </div>
                <div class="my-case-inner back-padding">
                    <div class="row case-detail case-detail-main">
                        <div class="col-md-6">
                            <div><span>Client</span></div>
                            <div class="open-cases">
                                <div class="case-title"><h3>{{caseDetailsController.case.client.clientName}}</h3></div>
                            </div>
                        </div>
                     </div> 
                    <div class="row case-detail case-detail-bottom">
                        <div class="col-md-12">
                            <div class="row case-bottom">
                                <div class="col-sm-4 col-md-2">
                                    <span>Matter Name</span>
                                    <strong>{{caseDetailsController.case.matterName}}</strong>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <span>Case Number</span>
                                    <strong>{{caseDetailsController.case.caseNumber}}</strong>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                     <span>Report Type</span>
                                     <strong>{{caseDetailsController.case.primaryReportType}}</strong>
                                </div>
                                <div class="col-sm-2 col-md-1">
                                     <span>Country</span>
                                     <strong>{{caseDetailsController.case.primaryReportCountryName}}</strong>
                                </div>
                                <div class="col-sm-2 col-md-1">
                                    <span></span>
                                    <strong>
                                        <a href="#" ng-click="caseDetailsController.showAllCaseReports()" ng-show="caseDetailsController.case.reports.length>1"><i class="fa fa-plus-square-o fa-lg"></i></a>
                                    </strong>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <span>Sales Rep</span>
                                    <strong>{{caseDetailsController.case.client.salesRepresentativeDetails.firstName+" "+caseDetailsController.case.client.salesRepresentativeDetails.lastName}}</strong>
                                </div>
                            </div>
                            <div class="row case-bottom">
                                <div class="col-sm-4 col-md-2">
                                    <span>Intake Date</span>
                                    <strong>{{caseDetailsController.case.ddSupervisorApprovedCaseDate|date}}</strong>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <span>IHI</span>
                                    <strong><i class="fa fa-check" ng-if="caseDetailsController.case.ihiAssigned" style="color:green"></i>
                                        <i class="fa fa-times" ng-if="!caseDetailsController.case.ihiAssigned"></i></strong>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <span>Assigned to</span>
                                    <strong>{{caseDetailsController.case.assignedToUser.firstName}} {{caseDetailsController.case.assignedToUser.lastName}}</strong>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <span>Created</span>
                                    <strong> {{caseDetailsController.case.creationDateTime | date}}</strong>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <span>Created by</span>
                                    <strong>{{caseDetailsController.case.createdByUser.firstName}} {{caseDetailsController.case.createdByUser.lastName}}</strong>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <span>Due</span>
                                    <strong></strong>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 ">

            <div class="m-top-10">
                <div class="my-case-inner clearfix">
                    <div class="pull-right case-detail case-detail-left">
                        <span>Last Updated</span>
                        <strong>{{caseDetailsController.case.creationDateTime|date:'medium'}}</strong>
                    </div>
                </div>
                <div class="text-right btns-right">
                    <button ng-show="caseDetailsController.case.speed == caseDetailsController.speedEnum.SuperRush" class="btn btn-danger btn-xs">SUPER RUSH</button>
                    <button ng-show="caseDetailsController.case.isNFCCase" class="btn btn-danger btn-xs">NFC</button>
                </div>
            </div>


        </div>
    </div>
</div>