﻿<div has-permission="USER_READ_ALL" ng-controller="UserController as userController" ng-init="userController.init()">
    <div class="am-content">
        <div class="page-head">
            <div class="row">
                <div class="col-md-8 col-sm-9">
                    <div class="my-case-container">

                        <div class="case-icon">

                        </div>

                        <div class="my-case-inner">
                            <div><span></span></div>
                            <div class="open-cases">
                                <div class="btn-group btn-hspace">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-3">
                    <div class="text-right add-new-case">
                        <!--<button class="btn btn-theme-yellow">New User</button>-->
                        <button class="btn btn-theme-yellow" ng-click="userController.openAddUserModal()">Invite</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="">
                                <table class="table table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th>UserName</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Role</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="user in userController.users | orderBy:'userName'">
                                        <tr>
                                            <td>{{user.userName}}</td>
                                            <td>{{user.firstName}}</td>
                                            <td>{{user.lastName}}</td>
                                            <td>{{user.role.name}}</td>
                                            <td>
                                                <div class="dropdown btn-group btn-space btn-group-sm list-action pull-right" uib-dropdown is-open="status.isopen">

                                                    <a uib-dropdown-toggle href="#" role="button" data-toggle="dropdown" class="btn btn-theme-yellow dropdown-toggle" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </a>
                                                    <ul uib-dropdown-menu role="menu" class="dropdown-menu dropdown-menu-right">
                                                        <li ng-click="userController.editUser(user.id)"><a href="#">Edit</a></li>
                                                        <li ng-really-message="Are you sure you want to delete this user?" ng-really-click="userController.deleteUser(user.id)"
                                                            ng-really-title="Delete User" item="user">
                                                            <a href="#">Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination-container" ng-if="userController.totalNumberOfUsers > 0">
                                <div class="text-center">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group" role="group">
                                            <button ng-hide="userController.pageIndex == 0" ng-click="userController.fetchAndStoreUsersList(userController.pageIndex - 1)" type="button" class="btn btn-default">
                                                <i class="fa fa-caret-left" aria-hidden="true"></i>
                                            </button>
                                            <button ng-repeat="page in userController.allPages track by $index" type="button" ng-class="{active:userController.pageIndex == $index}" ng-click="userController.fetchAndStoreUsersList($index)"
                                                    class="btn btn-default">
                                                {{$index + 1}}
                                            </button>
                                            <button ng-hide="userController.pageIndex == userController.allPages.length - 1" type="button" ng-click="userController.fetchAndStoreUsersList(userController.pageIndex + 1)" class="btn btn-default">
                                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


