﻿<div ng-controller="AnalyticsController as analyticsController">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="analyticsController.closeModal()">&times;</span></button>
        <h3 class="modal-title">Enter Report Name</h3>
    </div>
    <div class="modal-main-content">
        <div class="modal-body">
            <input type="text" class="form-control" ng-model="analyticsController.newReportName" /> 
        </div>
        <div class="modal-footer hide_modal_border">
           <button type="button" class="btn btn-theme-yellow" ng-click="analyticsController.saveAnalyticsNewReport()">Save</button>
            <button type="button" class="btn btn-theme-gray" ng-click="analyticsController.closeModal()">Cancel</button>
        </div>
    </div>
</div>
