﻿<div id="analytics_view" ng-controller="AnalyticsController as analyticsController" ng-init="analyticsController.init()" has-permission="VIEW_ANALYTICS">
    <div id="analytics_loader"></div>
    <div class="am-content">
        <div class="page-head">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <div class="my-case-container">
                        <div class="case-icon">
                            <img src="/Assets/icons/reports2.svg">
                        </div>

                        <div class="my-case-inner">
                            <div><span> View</span></div>
                            <div class="open-cases">
                                <div class="btn-group btn-hspace">
                                    <button type="button" data-toggle="dropdown" class="btn btn-mycase dropdown-toggle" aria-expanded="false">Analytics <span class="caret"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content" ng-form="caseAnalyticsForm">
                <div class="btn-group userHeading">
                    <button ng-click="analyticsController.viewCaseAnalytics()" class="btn btn-theme-gray case_analytics" ng-class="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Case'] ? 'active' : null">Case Analytics</button>
                    <button ng-click="analyticsController.viewTaskAnalytics()" class="btn btn-theme-gray task_analytics" ng-class="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Task'] ? 'active' : null">Task Analytics</button>
                    <button ng-click="analyticsController.viewExpenseAnalytics()" class="btn btn-theme-gray expense_analytics" ng-class="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Expense'] ? 'active' : null">Expense Analytics</button>
                    <button ng-click="analyticsController.viewTimesheetAnalytics()" class="btn btn-theme-gray timesheet_analytics" ng-class="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Timesheet'] ? 'active' : null">Timesheet Analytics</button>      
                    <button ng-click="analyticsController.viewReportAnalytics()" class="btn btn-theme-gray timesheet_analytics" ng-class="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Report'] ? 'active' : null">Report Analytics</button>     
                    <button ng-click="analyticsController.viewClientAnalytics()" class="btn btn-theme-gray timesheet_analytics" ng-class="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Client'] ? 'active' : null">Client Analytics</button>                           
                </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="m-b-20">
                        <!--<select class="form-control">
                            <option>----Select Item----</option>
                        </select>-->
                        <ui-select ng-if="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Case']" ng-model="analyticsController.selectedCaseAnalyticsReport" reset-search-input="true" search-enabled="false" on-select="analyticsController.onAnalyticsReportSelected($item)" class="form-control">
                            <ui-select-match placeholder="Select existing report">
                                <span ng-bind="$select.selected.reportName"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="eachReport in (analyticsController.caseAnalyticsReports)" refresh-delay="0">
                                <span ng-bind="eachReport.reportName"></span>
                            </ui-select-choices>                                                     
                        </ui-select>

                        <ui-select ng-if="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Task']" ng-model="analyticsController.selectedTaskAnalyticsReport" reset-search-input="true" search-enabled="false" on-select="analyticsController.onAnalyticsReportSelected($item)" class="form-control">
                            <ui-select-match placeholder="Select existing report">
                                <span ng-bind="$select.selected.reportName"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="eachReport in (analyticsController.taskAnalyticsReports)" refresh-delay="0">
                                <span ng-bind="eachReport.reportName"></span>
                            </ui-select-choices>
                        </ui-select>

                        <ui-select ng-if="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Expense']" ng-model="analyticsController.selectedExpenseAnalyticsReport" reset-search-input="true" search-enabled="false" on-select="analyticsController.onAnalyticsReportSelected($item)" class="form-control">
                            <ui-select-match placeholder="Select existing report">
                                <span ng-bind="$select.selected.reportName"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="eachReport in (analyticsController.expenseAnalyticsReports)" refresh-delay="0">
                                <span ng-bind="eachReport.reportName"></span>
                            </ui-select-choices>
                        </ui-select>

                        <ui-select ng-if="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Timesheet']" ng-model="analyticsController.selectedTimesheetAnalyticsReport" reset-search-input="true" search-enabled="false" on-select="analyticsController.onAnalyticsReportSelected($item)" class="form-control">
                            <ui-select-match placeholder="Select existing report">
                                <span ng-bind="$select.selected.reportName"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="eachReport in (analyticsController.timesheetAnalyticsReports)" refresh-delay="0">
                                <span ng-bind="eachReport.reportName"></span>
                            </ui-select-choices>
                        </ui-select>

                        <ui-select ng-if="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Report']" ng-model="analyticsController.selectedReportAnalyticsReport" reset-search-input="true" search-enabled="false" on-select="analyticsController.onAnalyticsReportSelected($item)" class="form-control">
                            <ui-select-match placeholder="Select existing report">
                                <span ng-bind="$select.selected.reportName"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="eachReport in (analyticsController.reportAnalyticsReports)" refresh-delay="0">
                                <span ng-bind="eachReport.reportName"></span>
                            </ui-select-choices>
                        </ui-select>

                        <ui-select ng-if="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Client']" ng-model="analyticsController.selectedClientAnalyticsReport" reset-search-input="true" search-enabled="false" on-select="analyticsController.onAnalyticsReportSelected($item)" class="form-control">
                            <ui-select-match placeholder="Select existing report">
                                <span ng-bind="$select.selected.reportName"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="eachReport in (analyticsController.clientAnalyticsReports)" refresh-delay="0">
                                <span ng-bind="eachReport.reportName"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="has-feedback has-feedback-left">
                        <input type="text" class="form-control" ng-class="{'form_error' : caseAnalyticsForm.startDate.$invalid && analyticsController.showValidationMessage}" name="startDate" ng-click="startDatePicker.opened=!startDatePicker.opened" datepicker-options="analyticsController.datePickerOptions" readonly uib-datepicker-popup="MMMM dd, yyyy" ng-model="analyticsController.startDate" is-open="startDatePicker.opened" close-text="Close" show-button-bar="false" placeholder="Please select start date" ng-change="analyticsController.getCaseAnalytics()" required/>
                        <span class="fa fa-calendar form-control-feedback"></span>
                        <span class="error-msg" ng-show="caseAnalyticsForm.startDate.$invalid && analyticsController.showValidationMessage">Please select start date</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="has-feedback has-feedback-left">
                        <input type="text" class="form-control" ng-click="endDatePicker.opened=!endDatePicker.opened" readonly uib-datepicker-popup="MMMM dd, yyyy" ng-model="analyticsController.endDate" is-open="endDatePicker.opened" datepicker-options="analyticsController.datePickerOptions" close-text="Close" show-button-bar="false" placeholder="Please select end date" ng-change="analyticsController.getCaseAnalytics()" />
                        <span class="fa fa-calendar form-control-feedback"></span>
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="text-right">
                            <button type="button" class="btn btn-sm btn-theme-gray" onclick="exportToExcel()">Export to Excel</button>
                            <button ng-show="analyticsController.isReportEditable" ng-click="analyticsController.editCurrentReport()" class="btn btn-sm btn-theme-gray">Edit</button>
                            <button ng-click="analyticsController.saveCurrentReport()" class="btn btn-sm btn-theme-gray">Save</button>
                            <button ng-click="analyticsController.restoreConfiguration()" class="btn btn-sm btn-theme-yellow">Restore</button>
                        </div>
                    </div>
                </div>
           
            <div class="row table-responsive analytics_height">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="pivot-wrap">
                                <div id="case-analytics" ng-show="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Case']"></div>
                                <div id="task-analytics" ng-show="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Task']"></div>
                                <div id="expense-analytics" ng-show="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Expense']"></div>
                                <div id="timesheet-analytics" ng-show="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Timesheet']"></div>
                                <div id="report-analytics" ng-show="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Report']"></div>
                                <div id="client-analytics" ng-show="analyticsController.selectedAnalytics == analyticsController.analyticsTypeEnum['Client']"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="form-header clearfix">
                <h4 style="padding-bottom:15px">
                    <span>Client Analytics</span>
                </h4>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="pivot-wrap">
                                <div id="client-analytics"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-header clearfix">
                <h4 style="padding-bottom:15px">
                    <span>User Analytics</span>
                </h4>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="pivot-wrap">
                                <div id="user-analytics"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
<script src="../../../../Scripts/angular_analytics_script.js" type="text/javascript"></script>


