﻿<div ng-controller="UserController as userController" ng-init="userController.init()">
    <div class="am-content">
        <div class="page-head">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="my-case-container">
                        <div class="case-icon">
                            <img src="/Assets/icons/users2.svg">
                        </div>

                        <div class="my-case-inner">
                            <div><span> View</span></div>
                            <div class="open-cases">
                                <div class="btn-group btn-hspace">
                                    <button type="button" data-toggle="dropdown" class="btn btn-mycase dropdown-toggle" aria-expanded="false">Users <span class="caret"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="serach-container hidden-sm">
                        <div class="input-group search-box-small">
                            <span class="input-group-btn">
                                <button class="btn search-btn" ng-click="userController.searchUsers(searchQuery)" ng-disabled="searchQuery == undefined || searchQuery == ''"><img src="/Assets/icons/search.svg" class="svg-addon"></button>
                            </span>
                            <input type="text" placeholder="Search Users" autocomplete="off" class="form-control" ng-model="searchQuery" ng-change="(searchQuery == undefined || searchQuery == '') && userController.isUserSearchActive ? userController.resetSearchResult() : null" ng-keyup="$event.keyCode == 13 ? userController.searchUsers(searchQuery) : null">
                            <span class="input-group-btn" ng-show="searchQuery != undefined && searchQuery != ''">
                                <button class="btn search-btn search-reset" ng-click="searchQuery = ''; userController.isUserSearchActive ? userController.resetSearchResult() : null"><i class="fa fa-times"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="text-right add-new-case">
                        <!--<button class="btn btn-theme-yellow">New User</button>-->
                        <button class="btn btn-theme-yellow" ng-click="userController.openAddUserModal()">Invite</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content" has-permission="USER_READ_ALL">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="">
                                <table class="table table-hover table-condensed">
                                    <thead>
                                        <tr ng-if="userController.users.length > 0">
                                            <th>UserName</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Role</th>
                                            <th></th>
                                        </tr>
                                        <tr ng-if="userController.isUserSearchActive && userController.users.length == 0">
                                            <th> No result found</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in userController.users">
                                            <td>{{user.userName}}</td>
                                            <td>{{user.firstName}}</td>
                                            <td>{{user.lastName}}</td>
                                            <td>{{user.role.name | replaceUnderscore}}</td>
                                            <td>
                                                <div class="dropdown btn-group btn-space btn-group-sm list-action pull-right" uib-dropdown is-open="status.isopen">

                                                    <a uib-dropdown-toggle href="#" role="button" data-toggle="dropdown" class="btn btn-theme-yellow dropdown-toggle" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </a>
                                                    <ul uib-dropdown-menu role="menu" class="dropdown-menu dropdown-menu-right">
                                                        <li ng-click="userController.editUser(user.id)"><a href="#">Edit</a></li>
                                                        <li ng-really-message="Are you sure you want to delete this user?" ng-really-click="userController.deleteUser(user.id)"
                                                            ng-really-title="Delete User" item="user">
                                                            <a href="#">Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination-container" ng-if="userController.totalNumberOfUsers > 0">
                                <div class="text-center">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group" role="group">
                                            <button ng-if="userController.pageIndex != 0" ng-click="userController.isUserSearchActive ? userController.getUsersByKeyword(userController.pageIndex - 1) : userController.fetchAndStoreUsersList(userController.pageIndex - 1) " type="button" class="btn btn-default">
                                                <i class="fa fa-caret-left" aria-hidden="true"></i>
                                            </button>
                                            <button ng-repeat="page in userController.allPages track by $index" type="button" ng-class="{active:userController.pageIndex == $index}" ng-click="userController.isUserSearchActive ? userController.getUsersByKeyword($index) : userController.fetchAndStoreUsersList($index)"
                                                    class="btn btn-default">
                                                {{$index + 1}}
                                            </button>
                                            <button ng-if="userController.pageIndex != userController.allPages.length - 1" type="button" ng-click="userController.isUserSearchActive ? userController.getUsersByKeyword(userController.pageIndex + 1) : userController.fetchAndStoreUsersList(userController.pageIndex + 1)" class="btn btn-default">
                                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


