﻿<div ng-controller="CaseDetailsController as caseDetailsController" ng-init="caseDetailsController.getCaseDetailsFromCaseNumber()">
    <div class="am-content">
        <div ng-include src="'/participantApp/modules/core/views/case-header.client.view.html'"></div>

        <div class="tabs-full-width">
            <!-- Nav tabs -->
            <div ng-include src="'/participantApp/modules/core/views/case-header-navigationbar.client.view.html'"></div>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="case">

                    <div class="case-status text-center">
                        <div class="case-steps">
                            <div class="steps-inner">
                                <a class="finish"><i class="fa fa-check"></i></a>
                                <a class="current"><span>Unprocessed</span></a>
                                <a><span>In Process</span></a>
                                <a><span>Send to Sales Rep</span></a>
                                <a><span>Closed</span></a>
                            </div>

                            <div class="btn-group ">
                                <button type="button" data-toggle="dropdown" class="btn btn-blue dropdown-toggle btn-circle"><span class="caret"></span></button>
                                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="main-content">
        </div>
    </div>

</div>

