﻿<div ng-controller="CalendarController as calendarController" ng-init="calendarController.userCalendarInit()">
    <div class="am-content">
        <div class="page-head">
            <div class="row">
                <div class="col-md-8 col-sm-9">
                    <div class="my-case-container">

                        <div class="case-icon">
                            <img src="/Assets/icons/calendar2.svg">
                        </div>

                        <div class="my-case-inner">
                            <div><span> View</span></div>
                            <div class="open-cases">
                                <div class="btn-group btn-hspace">
                                    <button type="button" data-toggle="dropdown" class="btn btn-mycase dropdown-toggle" aria-expanded="false">Calendar <span class="caret"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row select-container" has-permission="VIEW_ALL_CALENDARS">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="select-box">
                                <div class="btn-group btn-space btn-select">
                                    <button type="button" data-toggle="dropdown" class="form-control" aria-expanded="false" ng-click="calendarController.isSearchButtonPressed = true">
                                        <span ng-if="calendarController.numberOfSelectedCases == 0 || calendarController.isSearchButtonPressed == false">Select Cases</span>
                                        <span ng-if="calendarController.numberOfSelectedCases > 0 && calendarController.numberOfSelectedCases <= 4 && calendarController.isSearchButtonPressed == true">
                                            <span class="selected-item" ng-repeat="selectedCase in calendarController.cases" ng-if="selectedCase.isSelected == true">{{selectedCase.nickName}}</span>
                                        </span>
                                        <span ng-if="calendarController.numberOfSelectedCases > 4 && calendarController.isSearchButtonPressed == true">
                                            <span class="selected-item">{{calendarController.numberOfSelectedCases}} / {{calendarController.cases.length}} cases selected</span>
                                        </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="select-all">
                                            <input ng-model="calendarController.caseSearchQuery" class="form-control" ng-change="calendarController.filterCasesByKeyword()" placeholder="Search Cases"/>
                                        </li>
                                        <li class="select-all">
                                            <div class="checkbox"><label><input type="checkbox" ng-change="calendarController.toggleAllCases()" ng-model="calendarController.areAllCasesSelected"> Select All</label></div>
                                        </li>
                                        <li ng-repeat="case in calendarController.cases">
                                            <div class="checkbox"><label><input type="checkbox" ng-model="case.isSelected" ng-change="calendarController.toggleCase(case)"> {{case.nickName}} ({{case.caseNumber}})</label></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="select-box">
                                <div class="btn-group btn-space btn-select">
                                    <button type="button" data-toggle="dropdown" class="form-control" aria-expanded="false" ng-click="calendarController.isSearchButtonPressed = true">
                                        <span ng-if="calendarController.numberOfSelectedUsers == 0 || calendarController.isSearchButtonPressed == false">Select Users</span>
                                        <span ng-if="calendarController.numberOfSelectedUsers > 0 && calendarController.numberOfSelectedUsers <= 4 && calendarController.isSearchButtonPressed == true">
                                            <span class="selected-item" ng-repeat="selectedUser in calendarController.users" ng-if="selectedUser.isSelected == true">{{selectedUser.firstName}} {{selectedUser.lastName}}</span>
                                        </span>
                                        <span ng-if="calendarController.numberOfSelectedUsers > 4 && calendarController.isSearchButtonPressed == true">
                                            <span class="selected-item">{{calendarController.numberOfSelectedUsers}} / {{calendarController.users.length}} users selected</span>
                                        </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="select-all">
                                            <input ng-model="calendarController.userSearchQuery" class="form-control" ng-change="calendarController.filterUsersByKeyword()" placeholder="Search Users"/>
                                        </li>
                                        <li class="select-all">
                                            <div class="checkbox"><label><input type="checkbox" ng-change="calendarController.toggleAllUsers()" ng-model="calendarController.areAllUsersSelected"> Select All</label></div>
                                        </li>
                                        <li ng-repeat="(roleName,groupedUsers) in (calendarController.users | groupBy:'role.name')">
                                            <span><strong>{{roleName == 'NFC' ? 'NFC Users' : roleName == 'In_Country_Investigator' ? 'ICI Users': roleName == 'Investigator' ? 'Investigators' :roleName == 'Sales_Rep' ? 'Sales Reps' : roleName == 'Client_Participant' ? 'Client Participants' : roleName }}</strong></span>
                                            <div ng-repeat="user in groupedUsers">
                                            <div class="checkbox"><label><input type="checkbox" ng-model="user.isSelected" ng-change="calendarController.toggleUser(user)"> {{user.firstName}} {{user.lastName}}</label></div>
                                        </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6" >
                            <button class="btn btn-theme-yellow btn-block btn-control" ng-click="calendarController.getTasksByCaseIdAndUserId(); calendarController.isSearchButtonPressed = true">Filter Tasks</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-theme-gray btn-block btn-control" ng-click="calendarController.showMyTasks()">Show My Tasks</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="main-content" has-permission="VIEW_OWN_CALENDAR">            
            <div ng-include src="'/webapp/modules/calendar/views/calendar-body.view.html'"></div>
        </div>
    </div>
</div>
