﻿<div ng-controller="CalendarController as calendarController">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="calendarController.closeModal()">&times;</span></button>
        <h4 class="modal-title">
            <span class="status-btn">
                <button ng-if="calendarController.selectedTaskStatus == 0" class="btn btn-gray btn-xs">NOT STARTED</button>
                <button ng-if="calendarController.selectedTaskStatus == 1" class="btn btn-warning btn-xs">IN PROGRESS</button>
                <button ng-if="calendarController.selectedTaskStatus == 2" class="btn btn-success btn-xs">COMPLETED</button>
            </span>
        Tasks <span ng-if="calendarController.isDateModalSelected"> due for {{calendarController.selectedDate | date}} </span>
            <span ng-if="!calendarController.isDateModalSelected"> due for {{calendarController.selectedDate | date :'MMMM, yyyy'}} </span>
        </h4>
    </div>
    <div class="modal-body">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Title</th>
                    <th width="150">Nickname</th>
                    <th>Client</th>
                    <th>Country</th>
                    <th>Assigned To</th>
                    <th ng-if="!calendarController.isDateModalSelected">Due Date</th>
                    <th ng-if="calendarController.selectedTaskStatus == 2">Complete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in calendarController.selectedTasks" ng-show="task.status == calendarController.selectedTaskStatus">
                    <td><a class="pointer" ng-click="calendarController.closeModal(); calendarController.goToTaskComments(task)" tooltip-placement="top" uib-tooltip="{{task.title}}" tooltip-enable="{{task.title.length > 20}}">{{task.title.length > 20 ? task.title.slice(0,16)+'...' : task.title}}</a></td>
                    <td width="150"><a class="pointer" ng-click="calendarController.goToCaseDetails(task.case)">{{task.case.nickName}}<br /> ({{task.caseNumber}})</a></td>
                    <td>{{task.case.client.clientName}}</td>
                    <td>{{task.case.primaryReportCountryName}}</td>
                    <td><strong>{{task.assignedToUserDetails.firstName.charAt(0)}}{{task.assignedToUserDetails.lastName}}</strong></td>
                    <td ng-if="!calendarController.isDateModalSelected">{{task.dueDate | date}}</td>
                    <td ng-if="calendarController.selectedTaskStatus == 2">{{task.completionDate | date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer hide_modal_border">
        <button class="btn btn-theme-gray pull-right" ng-click="calendarController.closeModal()"> Close </button>
    </div>
</div>
