﻿<div class="page-head">
    <div class="row">
        <div class="col-md-5">
            <div class="my-case-container">
                <div class="back-link case-icon"><a href="#" ng-click="caseHeaderController.goToPreviousUrl()"><span class="fa fa-caret-left"></span> BACK</a> </div>
                <div class="my-case-inner back-padding">
                    <div class="row case-detail case-detail-main">
                        <div class="col-md-12">
                            <div class="inline-head">
                                <span>Case Name</span>
                                <div class="open-cases inline-block">
                                    <div class="case-title">
                                        <h3 class="arial_font" tooltip-placement="top" uib-tooltip="{{caseHeaderController.case.matterName}}" tooltip-enable="{{caseHeaderController.case.matterName.length > 37}}">{{caseHeaderController.case.matterName.length > 37 ? caseHeaderController.case.matterName.slice(0,33)+'...':caseHeaderController.case.matterName}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="inline-head">
                                <span>Case Number</span>
                                <div class="open-cases inline-block">
                                    <strong class="case-number-text arial_font">{{caseHeaderController.case.caseNumber}}</strong>
                                    <div class="text-right btns-right inline-block">
                                        <button class="btn btn-red btn-xs" ng-if="caseHeaderController.case.speed == caseHeaderController.speedEnum.Rush">RUSH</button>
                                        <button class="btn btn-red btn-xs" ng-if="caseHeaderController.case.speed == caseHeaderController.speedEnum.SuperRush">SUPER RUSH</button>
                                        <button class="btn btn-purple btn-xs" ng-if="caseHeaderController.case.isNFCCase">NFC</button>
                                    </div>
                                </div>
                            </div>
                            <div class="inline-head" has-permission="VIEW_CASE_HEADER_CLIENTNAME">
                                <span>Client</span>
                                <div class="open-cases inline-block">
                                    <div class="case-title"><strong class="client-name-text arial_font">{{caseHeaderController.case.client.clientName}}</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row my-case-inner">
                <div class="col-sm-6">
                    <div class="case-detail left-case-detail">
                        <div class="inline-head">
                            <span>Country</span>
                            <div class="open-cases inline-block">
                                <div class="case-title"><strong class="inline-block">{{caseHeaderController.case.primaryReportCountryName}}</strong></div>
                            </div> 
                        </div>
                        <div class="inline-head" has-permission="VIEW_CASE_HEADER_REPORTTYPE">
                            <span>Report Type</span>
                            <div class="open-cases inline-block">
                                <div class="case-title"><strong class="inline-block" ng-if="caseHeaderController.case.reports.length > 0 && caseHeaderController.case.primaryReportType.length <= 30">{{caseHeaderController.case.primaryReportType}} <a href="#" ng-click="caseHeaderController.showAllCaseReports()" ng-show="caseHeaderController.case.reports.length > 0"><i class="fa fa-plus-square-o fa-lg"></i></a></strong></div>
                                <div class="case-title"><strong class="inline-block" ng-if="caseHeaderController.case.reports.length > 0 && caseHeaderController.case.primaryReportType.length > 30" tooltip-placement="top" uib-tooltip="{{caseHeaderController.case.primaryReportType}}">{{caseHeaderController.case.primaryReportType|limitTo:35}}... <a href="#" ng-click="caseHeaderController.showAllCaseReports()" ng-show="caseHeaderController.case.reports.length > 0"><i class="fa fa-plus-square-o fa-lg"></i></a></strong></div>
                            </div>
                        </div>
                        <div class="inline-head">
                            <span>Retail</span>
                            <div class="open-cases inline-block">
                                <div class="case-title"><strong class="inline-block">{{caseHeaderController.case.actualRetail | currency : "$" : 2}}</strong></div>
                            </div>
                        </div>
                        <div class="inline-head" has-permission="VIEW_CASE_HEADER_SALES_REP">
                            <span>Sales Rep</span>
                            <div class="open-cases inline-block">
                                <div class="case-title"><strong class="inline-block">{{caseHeaderController.case.client.salesRepresentative.firstName+" "+caseHeaderController.case.client.salesRepresentative.lastName}}</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" has-permission="VIEW_CASE_HEADER_INTAKE">
                    <div class="case-detail left-case-detail">
                        <div class="inline-head">
                            <span>Intake</span>
                            <div class="open-cases inline-block">
                                <div class="case-title">
                                <strong class="inline-block" ng-show="!caseHeaderController.case.isNFCCase">{{caseHeaderController.case.ddSupervisorApprovedCaseDate|date : 'mediumDate'}}</strong>
                                <strong class="inline-block" ng-show="caseHeaderController.case.isNFCCase">{{caseHeaderController.case.caseAcceptedByNFCDate|date : 'mediumDate'}}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="inline-head">
                            <span>Due</span>
                            <div class="open-cases inline-block">
                                <div class="case-title">
                                <strong class="inline-block text-danger" ng-show="!caseHeaderController.case.isNFCCase">{{caseHeaderController.case.caseDueDate|date:'mediumDate'}}</strong>
                                <strong class="inline-block text-danger" ng-show="caseHeaderController.case.isNFCCase">{{caseHeaderController.case.nfcDueDate|date:'mediumDate'}}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="inline-head" has-permission="VIEW_CASEHEADER_IHI" ng-if="!caseHeaderController.case.isNFCCase">
                            <span>IHI</span>
                            <div class="open-cases inline-block">
                                <div class="case-title">
                                    <strong class="inline-block">{{caseHeaderController.case.ihiAssignedUser.firstName}} {{caseHeaderController.case.ihiAssignedUser.lastName}}</strong>
                                </div>
                                </div>
                            </div>
                        <div class="inline-head" has-permission="VIEW_CASE_HEADER_MARGIN">
                            <span >Margin</span>
                            <div class="open-cases inline-block">
                                <div class="case-title"><strong class="inline-block" ng-class="caseHeaderController.case.margin < 38 ? 'text-danger' : 'text-success'">{{caseHeaderController.case.margin | number : 2}}</strong></div>
                            </div>
                        </div>
                        <div class="inline-head">
                            <span>Just Updated</span>
                            <div class="open-cases inline-block">
                                <div class="case-title"><strong class="inline-block">{{caseHeaderController.case.lastEditedDateTime|date:'medium'}}</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="my-case-inner clearfix">
                <div class="case-detail left-case-detail">
                    <div class="inline-head pull-right">
                        <span>Just Updated</span>
                        <div class="open-cases inline-block">
                            <div class="case-title"><strong class="inline-block">{{caseHeaderController.case.lastEditedDateTime|date:'medium'}}</strong></div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>