<div ng-controller="HeaderController as headerController" ng-init="headerController.init()">
    <nav class="navbar navbar-default navbar-fixed-top am-top-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="page-title ka-logo"><a href="#" class=""><img src="assets/img/logo-kreller-main.png"></a></div>
            </div>
            <a href="#" data-toggle="collapse" data-target="#am-navbar-collapse" class="am-toggle-top-header-menu collapsed"><span class="icon s7-angle-down"></span></a>

            <div id="am-navbar-collapse" class="collapse navbar-collapse">

                <ul class="nav navbar-nav am-nav-right ">
                    <li class="ka-logo hidden-xs"><a href="#" class="am-toggle-left-sidebar navbar-toggle collapsed"><img src="assets/img/logo-kreller-main.png" class="img-responsive"></a></li>
                    <li class="serach-container hidden-sm" has-permission="VIEW_GLOBAL_SEARCH_BAR">
                        <div class="form-group">
                            <div  class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn search-btn" ng-click="headerController.globalSearch(searchQuery)" ng-disabled="searchQuery == undefined || searchQuery == ''" ><img src="/Assets/icons/search.svg" class="svg-addon"></button>
                                </span>
                                <input type="text" placeholder="Search Cases" autocomplete="off" class="form-control" ng-model="searchQuery" ng-change="(searchQuery == undefined || searchQuery == '') && headerController.isGlobalSearchActive ? headerController.resetSearchResult() : null" ng-keyup="$event.keyCode == 13 ? headerController.globalSearch(searchQuery) : null">
                                <span class="input-group-btn" ng-show="searchQuery != undefined && searchQuery != ''">
                                    <button class="btn search-btn search-reset" ng-click="searchQuery=''; headerController.isGlobalSearchActive ? headerController.resetSearchResult() : null"><i class="fa fa-times"></i></button>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="nav navbar-nav navbar-right am-user-nav" uib-dropdown is-open="status.isopen">
                    <a uib-dropdown-toggle href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                        <img class="angle-down img-circle" ng-src="{{headerController.userProfilePicUrl}}" alt="...">
                        <span class="user-name">{{headerController.firstName}}</span>
                    </a>
                    <ul uib-dropdown-menu class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a href="/case-management/settings"> <span class="icon s7-config"></span>Settings</a></li>
                        <li><a href="#" ng-click="headerController.logOut('LogOff')"> <span class="icon s7-power"></span>Sign Out</a></li>
                    </ul>

                </div>
                <div uib-dropdown class="nav navbar-nav navbar-right am-icons-nav hidden-xs notifications-nav">
                    <a href="#" ng-click="headerController.markUnreadNotificationsAsRead()" id="simple-dropdown" uib-dropdown-toggle class="dropdown-toggle">
                        <span class="icon fa fa-bell"></span><span ng-class="{'indicator':headerController.numberOfNotifications != 0,'new_indicator':headerController.numberOfNotifications == 0}"><i>{{headerController.numberOfNotifications}}</i></span>
                    </a>
                    <ul class="dropdown-menu am-notifications" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li>
                            <div class="title">Notifications<span class="badge"></span></div>
                            <div class="list">
                                <div class="am-scroller">
                                    <div class="content ">
                                        <ul>
                                            <li ng-repeat="notification in headerController.unreadNotifications">
                                                <a class="pointer" href={{notification.url}}>
                                                    <div class="user-content"><span class="text-content"> {{notification.notificationText}}</span><span class="date">{{notification.createdOn| date:'medium'}}</span></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-footer"><a href="/case-management/notifications">View All</a><span class="badge"></span></div>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </nav>


    <div class="am-left-sidebar">
        <div class="content">
            <div class="am-logo">
                <div class="brand-name logo-kreller-main">
                    <div class="nav-icon">
                        <a>
                            <img src="/Assets/icons/menu.svg">
                        </a>
                    </div>
                </div>
            </div>
            <ul class="sidebar-elements">
                <li has-permission="VIEW_DASHBOARD" class="parent" ng-class="headerController.getActiveSidebarClass('/case-management/dashboard')"><a href="/case-management/dashboard"><img src="/Assets/icons/dashboard.svg"> <span>Dashboard</span></a></li>
                <li class="parent" ng-class="headerController.getActiveSidebarClass('/case-management/cases')"><a href="/case-management/cases"><img src="/Assets/icons/cases.svg"> <span>Cases</span></a></li>
                <li class="parent" has-permission="CLIENT_READ_ALL" ng-class="headerController.getActiveSidebarClass('/case-management/clients')"><a href="/case-management/clients"><img src="/Assets/icons/profile.svg"> <span>Clients</span></a></li>
                <li has-permission="CAN_VIEW_OWN_TASKS" class="parent" ng-class="headerController.getActiveSidebarClass('/case-management/tasks')"><a href="/case-management/tasks"><img src="/Assets/icons/tasks.svg"> <span>Tasks</span></a></li>
                <li has-permission="VIEW_OWN_CALENDAR" class="parent" ng-class="headerController.getActiveSidebarClass('/case-management/calendar')"><a href="/case-management/calendar"><img src="/Assets/icons/calendar.svg"> <span>Calendar</span></a></li>
                <li class="parent" has-permission="VIEW_ANALYTICS" ng-class="headerController.getActiveSidebarClass('/case-management/analytics')"><a href="/case-management/analytics"><img src="/Assets/icons/reports.svg"> <span>Analytics</span></a></li>
                <li class="parent" has-permission="USER_READ_ALL" ng-class="headerController.getActiveSidebarClass('/case-management/users')"><a href="/case-management/users"><img src="/Assets/icons/users.svg"> <span>Users</span></a></li>
                <!--<li ng-if="headerController.roleName != 'Client_Participant' && headerController.roleName != 'In_Country_Investigator'" class="parent" ng-class="headerController.getActiveSidebarClass('/case-management/discussions')"><a href="/case-management/discussions"><img src="/Assets/icons/discussion.svg"> <span>Discussions</span></a></li>-->
            </ul>
        </div>
    </div>
</div>
<script>
    $(".nav-icon a").click(function(){
        if($("body").hasClass('sidebar-collapse')){
            $('body').removeClass('sidebar-collapse');
        }
        else{
            $('body').addClass('sidebar-collapse');
            $('body').addClass('open-left-sidebar');

        }
    })
</script>

<script>
        (function($) {
            var $window = $(window),
                $body = $('body');

            $window.resize(function resize() {
                if ($window.width() < 767) {
                    return $body.addClass('sidebar-collapse');
                }

                $body.removeClass('sidebar-collapse');
            }).trigger('resize');
        })(jQuery);
</script>