﻿<div class="cal-week-box">
        <div class="cal-row-fluid cal-row-head">

            <div class="cal-cell1"
                 ng-repeat="day in vm.view.days track by $index"
                 ng-class="{
        'cal-day-weekend': day.isWeekend,
        'cal-day-past': day.isPast,
        'cal-day-today': day.isToday,
        'cal-day-future': day.isFuture}"
                 mwl-droppable
                 on-drop="vm.eventDropped(dropData.event, day.date)">

                <span ng-bind="day.weekDayLabel"></span>
                <br />
                <small>
                    <span data-cal-date
                          ng-click="vm.calendarCtrl.dateClicked(day.date)"
                          class="pointer"
                          ng-bind="day.dayLabel">
                    </span>
                </small>
                <hr />
                <span class="calendar-task">
                    <span ng-repeat="(startsAt, dateGroupedEvents) in vm.view.events | groupBy: 'startsAt'">
                        <span ng-if="startsAt == day.date._d">
                            <span ng-repeat="(type, events) in dateGroupedEvents | groupBy : 'type'" ng-click="calendarController.showTasksForSelectedDateAndType(startsAt,type)" ng-controller="CalendarController as calendarController">
                                <span class="status-btn btn-group btn-group-xs" ng-if="!calendarController.isDashboardView">
                                    <button ng-if="type == 'inverse'" class="btn btn-gray btn-xs">NOT STARTED ({{ events.length }})</button>
                                    <button ng-if="type == 'warning'" class="btn btn-warning btn-xs">IN PROGRESS ({{ events.length }})</button>
                                    <button ng-if="type == 'success'" class="btn btn-success btn-xs">COMPLETED ({{ events.length }})</button>
                                    <br />
                                </span>
                                <span class="status-btn btn-group btn-group-xs" ng-if="calendarController.isDashboardView">
                                    <button ng-if="type == 'inverse'" class="btn btn-gray btn-xs" tooltip-placement="top" uib-tooltip="Not Started">{{ events.length }}</button>
                                    <button ng-if="type == 'warning'" class="btn btn-warning btn-xs" tooltip-placement="top" uib-tooltip="In Progress">{{ events.length }}</button>
                                    <button ng-if="type == 'success'" class="btn btn-success btn-xs" tooltip-placement="top" uib-tooltip="Completed">{{ events.length }}</button>
                                    <br />
                                </span>
                            </span>
                        </span>
                    </span>
                </span>

            </div>

        </div>

</div>
